{% if is_paginated %}
<nav class="my-3" aria-label="{{ pagination_label }}">
    <ol class="pagination d-flex justify-content-center flex-wrap">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Førre</a>
            </li>
        {% endif %}

        {% load pagination %}
        {% get_elided_page_range paginator page_obj.number as page_range %}
        {% for i in page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                {% if i == paginator.ELLIPSIS %}
                    <span class="page-link">{{ i }}</span>
                {% else %}
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Neste</a>
            </li>
        {% endif %}
    </ol>
</nav>
{% endif %}