{% extends 'base.html' %}

{% block title %} Skiltmerkepdfgenerator {% endblock title %}

{% block page %}
<h1> Skiltmerkepdfgenerator </h1>

<div>
    <h3> Framgangsmåte </h3>

    <ol>
        <li> Design nokre motiv du vil lage skiltmerke av. Designet må vere like langt som det er breidt (om ikkje vert det strekt) og ikkje ha noke viktig motiv utanfor sirkelen med sentrum midt i motivet og diameter lik breidda/høgda (om ikkje vert det borte). </li>
        <li> Last opp motiva her som bilete, oppgje kor mange skiltmerke du ynskjer av kvart motiv og hvis du skal lage skiltmerke i ei anna storleik enn Dei Taktlause si standard, endre ynskja diameter. </li>
        <li> Trykk generer PDF, vent til sida svarar (dette kan ta nokre sekund om du provar å lage mange eller store skiltmerke) og print ut. </li>
    </ol>
</div>

{% load crispy_forms_tags %}
{% crispy form %}
{% endblock page %}
