{% extends 'base.html' %}

{% block title_page %} Buttonpdfgenerator {% endblock title_page %}
{% block title_content %} Buttonpdfgenerator {% endblock title_content %}

{% block content %}
    <section>
        <h2 class="fs-3"> Framgangsmåte </h2>

        <ol>
            <li> Design nokre motiv du vil lage buttons av. Designet må vere like langt som det er breidt (om ikkje vert det strekt) og ikkje ha noke viktig motiv utanfor sirkelen med sentrum midt i motivet og diameter lik breidda/høgda (om ikkje vert det borte). </li>
            <li> Last opp motiva her som bilete og oppgje kor mange buttons du ynskjer av kvart motiv. Om du skal lage buttons i ei anna storleik enn Dei Taktlause sin standard, endre ynskja diameter. </li>
            <li> Trykk generer PDF, vent til sida svarar (dette kan ta nokre sekund om du provar å lage mange eller store buttons) og print ut. </li>
        </ol>
    </section>

    {% load crispy_forms_tags %}
    {% crispy form %}
{% endblock content %}
