{% extends "base.html" %}

{% block title %}{{ forum.title }}{% endblock title %}

{% block page %}
<article>
    <h1>{{ forum.title }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Emne</th>
                <th>Svar</th>
                <th>Siste innlegg</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
            <tr>
                <td>
                    <div class="mb-1 fs-5">
                        <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
                    </div>
                    <div>av
                        <a href="{{ topic.created_by.get_absolute_url }}">
                            {{ topic.created_by.username }}
                        </a>
                        |
                        <time datetime="{{ topic.submitted | date:"c" }}">
                            {{ topic.submitted | date:"d.m.Y - H:i" }}
                        </time>
                    </div>
                </td>
                <td>{{ topic.posts.count }}</td>
                <td>
                {% with topic.posts.latest|default:topic as latest %}
                    <div>av
                        <a href="{{ latest.created_by.get_absolute_url }}">
                            {{ latest.created_by.username }}
                        </a>
                    </div>
                    <div>
                        <time datetime="{{ latest.submitted | date:"c" }}">
                            {{ latest.submitted | date:"d.m.Y - H:i" }}
                        </time>
                    </div>
                {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock page %}