{% extends "base.html" %}

{% block title_page %}Forum{% endblock title_page %}
{% block title_content %}Forum{% endblock title_content %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Forum</th>
                <th>Emne</th>
                <th>Innlegg</th>
                <th>Siste innlegg</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
            <tr>
                <td>
                    <div class="mb-1 fs-5">
                        <a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a>
                    </div>
                    <div>{{ forum.description }}</div>
                </td>
                <td>{{ forum.topics.count }}</td>
                <td>{{ forum.post_count }}</td>
                <td>
                    {% include "forum/includes/latest_post.html" with post=forum.latest_post only %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}