{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block page %}
<article>
    <header>
        {% include "common/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}

        <h1 class="mb-4">{{ topic.title }}</h1>
    </hedaer>


    {% if posts %}
    <ol class="list-unstyled">
        {% for post in posts %}
        <li>
            {% include "forum/includes/post.html" with post=post only %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}

    {% include "common/includes/pagination.html" with pagination_label="Innleggsider" %}
</article>
{% endblock page %}