{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block page %}
<article>
    <header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'forum:ForumList' %}">
                        Alle forum
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ topic.forum.get_absolute_url }}">
                        {{ topic.forum.title }}
                    </a>
                </li>
            </ol>
        </nav>

        <h1 class="mb-4">{{ topic.title }}</h1>
    </hedaer>


    <ol class="list-unstyled">
        {% if page_obj.number == 1 %}
        <li>
            {% include "forum/includes/post.html" with post=topic only %}
        </li>
        {% endif %}
        {% for post in posts %}
        <li>
            {% include "forum/includes/post.html" with post=post only %}
        </li>
        {% endfor %}
    </ol>

    {% include "common/includes/pagination.html" with pagination_label="Post pages" %}
</article>
{% endblock page %}