{% extends "base.html" %}
{% load utils %}

{% block title_page %}
    {% if form_title %}
        {{ form_title }}
    {% elif object %}
        Rediger {{ object | verbose_name }} "{{ object }}"
    {% elif view.model %}
        Opprett {{ view.model | verbose_name }}
    {% else %}
        Skjema
    {% endif %}
{% endblock %}
{% block title_content %}
    {% if form_title %}
        {{ form_title }}
    {% elif object %}
        Rediger {{ object | verbose_name }} "{{ object }}"
    {% elif view.model %}
        Opprett {{ view.model | verbose_name }}
    {% else %}
        Skjema
    {% endif %}
{% endblock title_content %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
    {% if nav_tabs %}
        {% include "common/includes/nav_tabs.html" %}
    {% endif %}

    {% block form %}
        {% if form and formset %}
        <form method="post">
        {% endif %}
            {% if form %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            {% endif %}
            {% if formset and render_formset is not False %}
                {% load crispy_forms_tags %}
                {{ formset }}
                {% comment %} {% crispy formset %} {% endcomment %}
            {% endif %}
        {% if form and formset %}
        </form>
        {% endif %}
    {% endblock form %}
{% endblock %}
