{% extends "base.html" %}

{% block title_page %}Sitat{% endblock title_page %}
{% block title_content %}Sitat{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <a class="btn btn-primary btn-sm my-1" href="{% url 'quotes:new_quote' %}">Legg til sitat</a>
{% endblock header %}

{% block content %}
    {% if quotes %}
        {% for q in quotes %}
        <div class="row">
            <div class="col-lg-6">
                {% include "quotes/quote.html" with quote=q %}
            </div>
        </div>
        {% endfor %}

        {% include "common/includes/pagination.html" with pagination_label="Sitatsida" %}

    {% else %}
        <p>Ingen sitat registert.</p>
    {% endif %}


{% endblock %}