body {
  background-color: darksalmon;
}

.calendar {
  display: flex;
  flex-direction: column;
}
.calendar-title {
  text-align: center;
}

.windows {
  display: grid;
  margin: auto;
  grid-template-rows: repeat(4, 120px);
  grid-template-columns: repeat(6, 120px);
  grid-gap: 25px;
}
@media only screen and (max-width: 920px) {
  .windows {
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(4, 120px);
  }
}
@media only screen and (max-width: 625px) {
  .windows {
    grid-template-rows: repeat(8, 120px);
    grid-template-columns: repeat(3, 120px);
  }
}
@media only screen and (max-width: 480px) {
  .windows {
    grid-template-rows: repeat(12, 120px);
    grid-template-columns: repeat(2, 120px);
  }
}

.window {
  background-color: white;
  box-shadow: inset 0 0 10px #555;
}

.window > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #a50104;
  color: white;
  font-size: 56px;
  box-shadow: 0 15px 15px rgba(64, 93, 50, 0.03),
    5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease;
  transform-origin: right;
}
.window > button:hover,
.window > button:focus {
  transform: perspective(1000px) rotate3d(0, 1, 0, 27deg);
}
.window.opened > button {
  transform: perspective(1000px) rotate3d(0, 1, 0, 140deg);
}
