[submodule "site/static/scss/bootstrap"]
	path = site/static/scss/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "site/static/scss/bootswatch"]
	path = site/static/scss/bootswatch
	url = https://github.com/thomaspark/bootswatch
[submodule "site/static/scss/tom-select"]
	path = site/static/scss/tom-select
	url = https://github.com/orchidjs/tom-select
