{% extends "base.html" %}

{% block page %}

	{% if form.errors %}
		<p>Feil brukernavn og/eller passord.</p>
	{% endif %}
  
	{% if next %}
		{% if user.is_authenticated %}
			<p>Kontoen din har ikke tilgang til denne siden.</p>
		{% else %}
			<p>Logg inn for å se denne siden.</p>
		{% endif %}
	{% endif %}
  
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		<input type="submit" value="Login" />
		<input type="hidden" name="next" value="{{next}}" />
	</form>
  
{% endblock %}