{% extends "base.html" %}

{% block title_page %}
    Repertoar
{% endblock title_page %}
{% block title_content %}
    Repertoar
{% endblock title_content %}

{% block header %}
    {{ block.super }}

    {% if perms.repertoire.add_repertoire %}
    <a href="{% url 'repertoire:RepertoireCreate' %}" class="btn btn-primary btn-sm my-1"> Nytt repertoar </a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% for repertoire in repertoires %}
        <section class="my-3 table-responsive">
            <h2> {{ repertoire }} </h2>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th> Notenamn </th>
                        <th> Favorittstemme </th>
                        <th> Stemmeoversikt </th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in repertoire.entries.all %}
                    <tr>
                        <td>
                            {{ entry.score }}
                        </td>
                        <td>
                            {% load has_favorite_part %}
                            {% has_favorite_part user entry.score as has_favorite_part %}
                            {% if has_favorite_part %}
                                <a href="{% url "sheetmusic:FavoritePartPdf" entry.score.slug %}"> Favorittstemme </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url "sheetmusic:ScoreView" entry.score.slug %}"> Stemmeoversikt </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'repertoire:RepertoirePdf' repertoire.slug %}" class="btn btn-primary"> Generer PDF fra favorittstemmer </a>
            {% if perms.repertoire.change_repertoire %}
                <a href="{% url 'repertoire:RepertoireUpdate' repertoire.slug %}" class="btn btn-secondary"> Rediger </a>
            {% endif %}
            {% if perms.repertoire.delete_repertoire %}
                <a href="{% url 'repertoire:RepertoireDelete' repertoire.slug %}" class="btn btn-danger"> Slett </a>
            {% endif %}
        </section>
    {% endfor %}
{% endblock content %}
