<nav class="navbar p-1 navbar-expand-xl fixed-top navbar-dark {% if PRODUCTION %} bg-primary {% else %}" style="background-color:#058104; {% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"/>
            {% load static %}
            <img class="w-14 me-2" src="{% static 'images/logo_pride.svg' %}">
            <span class="d-none d-sm-inline fw-bold">Studentorchesteret Dei Taktlause</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable"
            aria-controls="collapsable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-nav-scroll" style="--bs-scroll-height: 65vh;" id="collapsable">
            {% include "navbar/includes/navbar_items.html" %}
            {% include "navbar/includes/profile_dropdown.html" %}
        </div>
    </div>
</nav>
