<div class="collapse navbar-collapse" id="collapsable">
    <ul class="navbar-nav me-auto">
        {% load get_navbar_items %}
        {% get_navbar_items as navbar_items %}
        {% for item in navbar_items %}
            {% load navbar_item_is_active %}
            {% navbar_item_is_active item request as is_active %}
            <li class="nav-item">
                <a class="nav-link {% if is_active %} active {% endif %}" href="{{item.link}}">{{item.text}}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <span class="navbar-text">
                {% if user.is_authenticated %}
                <span>Innlogga som <a href="{% url 'accounts:ProfileDetail' user.slug %}">{{user.username}}</a>!</span>
                <a href="{% url 'logout' %}?next=/">Logg ut</a>
                {% else %}
                <span>Du er ikkje innlogga. <a href="{% url 'login' %}">Logg inn</a></span>
                {% endif %}
            </span>
        </li>
    </ul>
</div>
