<ul class="nav navbar-nav me-auto" >
    {% for item in navbar_items %}
        <li class="nav-item dropdown">
            <a class="
                nav-link
                {% if item.is_active %} active {% endif %}
                {% if item.is_dropdown %} dropdown-toggle {% endif %}
                "
                href="{{item.href}}"
                {% if item.is_dropdown %}
                    id="dropdown-button-{{item.pk}}"
                    role="button"
                    data-bs-toggle="dropdown"
                    {% if item.is_active %}
                        aria-expanded="true"
                    {% else %}
                        aria-expanded="false"
                    {% endif %}
                {% endif %}>
                {{item.text}}
            </a>
            {% if item.is_dropdown %}
                <ul class="dropdown-menu navbar-dropdown-menu" aria-labelledby="dropdown-button-{{item.pk}}">
                    {% for sub_item in item.sub_items_annotated %}
                        <li class="nav-item">
                            <a class="
                                dropdown-item
                                nav-link
                                bg-reset
                                p-2
                                {% if sub_item.is_active %}active{% endif %}
                                "
                                href="{{sub_item.link}}">
                                {{sub_item.text}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>