{% extends 'base.html' %}

{% block title_page %}{{ article.title }}{% endblock title_page %}
{% block title_content %}{{ article.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}
    {% if user.is_authenticated %}
        {% include "common/includes/created_modified.html" with object=article only %}
    {% endif %}
{% endblock header %}

{% block content %}
    {% load markdown %}
    {{ article.content | markdown }}

    {% if subarticles %}
        <nav class="my-4">
            <ul>
            {% for subarticle in subarticles %}
                <li>
                    <a href="{{ subarticle.get_absolute_url }}">{{ subarticle.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    {% endif %}

    {% if user.is_authenticated %}
        <footer class="my-4">
            <a href="{% url 'articles:SubarticleCreate' article.path %}" class="btn btn-primary">
                Lag underartikkel
            </a>

            {% if perms.articles.change_article or article.created_by == request.user %}
            <a href="{% url 'articles:ArticleUpdate' article.path %}" class="btn btn-primary">
                Rediger artikkel
            </a>
            {% endif %}
        </footer>
    {% endif %}

    {% if article.comments_allowed %}
        {% load comments %}
        {% comment_list article %}
    {% endif %}
{% endblock content %}
