{% extends "common/forms/form.html" %}

{% block form %}
    {% load crispy_forms_tags %}
    <form method="post" enctype="multipart/form-data" class="container">
        <div class="row">
            <div class="col-lg-4">
                {% crispy form %}
            </div>
            <div class="col-lg-8">
                {% crispy formset %}
            </div>
        </div>
    </form>
{% endblock %}

{% block css %}
    {% load sass_tags %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% sass_src 'pictures/image_formset.scss' %}"
    />
{% endblock css %}

{% block js %}
{{ block.super }}
    {% load static %}
    <script src="{% static 'pictures/image_formset.js' %}"></script>

{% endblock js %}
