{% extends "base.html" %}

{% block title_page %}{{ gallery.title }}{% endblock %}
{% block title_content %}{{ gallery.title }}{% endblock %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=gallery only %}

    <ul class="list-inline">
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:GalleryUpdate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Rediger
            </a>
        </li>

        <li class="list-inline-item">
            <a
                href="{% url 'pictures:ImageCreate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Last opp bilete
            </a>
        </li>

        {% if perms.pictures.delete_gallery and perms.pictures.delete_image or gallery.created_by == request.user %}
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:GalleryDelete' gallery.slug %}"
                class="btn btn-danger btn-sm"
            >
                Slett
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}

{% block content %}
    <p>
        <strong>Dato:</strong>
        <time datetime="{{ gallery.date | date:"c" }}">{{ gallery.date }}</time>
        {% if gallery.date_to %}
        - <time datetime="{{ gallery.date_to | date:"c" }}">{{ gallery.date_to }}</time>
        {% endif %}
        <br>
        {% if gallery.connected_event %}
   
            <strong> Oppkobla hending: </strong> 
            <a href="{% url 'events:EventDetail' gallery.connected_event.start_time|date:"Y" gallery.connected_event.slug %}">
                {{gallery.connected_event.title}}
            </a>
        {% endif %}
    </p>
    
    

    {% load markdown %}
    {{ gallery.content | markdown }}

    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
    {% for image in images %}
        <li class="d-flex justify-content-center align-items-center m-3 h-52">
            {% include "common/includes/image.html" with url=image.image.url description=image.description bp_gallery=gallery.slug only %}
        </li>
    {% endfor %}
    </ul>

    {% include "common/includes/pagination.html" with pagination_label="Biletesider" %}

    {% load comments %}
    {% comment_list gallery %}
{% endblock %}

{% block js %}
    <script
        src="https://cdn.jsdelivr.net/npm/bigpicture@2.6.1/dist/BigPicture.min.js"
        integrity="sha256-OsbS8Cw/fMpgT6GBFfqhvmX9yJLwzE6+me56KzpSbAs="
        crossorigin="anonymous"
    ></script>
    {% load static %}
    <script src="{% static "common/js/lightbox.js" %}"></script>
{% endblock js %}
