{% extends "base.html" %}

{% block title_page %}{{ gallery.title }}{% endblock %}
{% block title_content %}{{ gallery.title }}{% endblock %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=gallery only %}

    <ul class="list-inline">
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:GalleryUpdate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Rediger galleri
            </a>
        </li>
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:ImageCreate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Last opp bilete
            </a>
        </li>
    </ul>

    {% include "common/includes/pagination.html" with pagination_label="Biletesider" %}
{% endblock header %}

{% block content %}
    <p>
        <strong>Dato:</strong>
        <time datetime="{{ gallery.date | date:"c" }}">{{ gallery.date }}</time>
        {% if gallery.date_to %}
        - <time datetime="{{ gallery.date_to | date:"c" }}">{{ gallery.date_to }}</time>
        {% endif %}
    </p>

    {% load markdown %}
    {{ gallery.content | markdown }}

    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
    {% for image in images %}
        <li class="d-flex justify-content-center align-items-center m-3 h-52">
            {% include "pictures/includes/image.html" with image=image bp_gallery=gallery.slug only %}
        </li>
    {% endfor %}
    </ul>

    {% load comments %}
    {% comment_list gallery %}
{% endblock %}

{% block js %}
    <script
        src="https://cdn.jsdelivr.net/npm/bigpicture@2.6.1/dist/BigPicture.min.js"
        integrity="sha256-OsbS8Cw/fMpgT6GBFfqhvmX9yJLwzE6+me56KzpSbAs="
        crossorigin="anonymous"
    ></script>
    {% load static %}
    <script src="{% static "common/js/lightbox.js" %}"></script>
{% endblock js %}
