{% extends 'base.html' %}

{% block title_page %}Fotoarkiv{% endblock title_page %}
{% block title_content %}Fotoarkiv{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'pictures:NewestImagesList' %}" class="btn btn-secondary btn-sm">Nyaste bilete</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'pictures:GalleryCreate' %}" class="btn btn-primary btn-sm">Nytt galleri</a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
    <ul class="list-unstyled">
        {% for gallery in galleries %}
        <li class="my-4">
            {% include "pictures/includes/gallery_list_item.html" with gallery=gallery images=gallery.images.all|slice:":5" only  %}
        </li>
        {% endfor %}
    </ul>

    <footer>
        {% include "common/includes/pagination.html" with pagination_label="Gallerisider" %}
    </footer>
{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bigpicture@2.6.1/dist/BigPicture.min.js" integrity="sha256-OsbS8Cw/fMpgT6GBFfqhvmX9yJLwzE6+me56KzpSbAs=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static "common/js/lightbox.js" %}"></script>
{% endblock js %}