<div>
    {{ formset.management_form }}

    <ol class="list-unstyled">
        {% for form in formset %}
        <li class="card shadow my-4">
            <div class="card-body d-flex justify-content-center align-items-center m-0 p-0 h-96">
                {% include "pictures/includes/image.html" with image=form.instance gallery=form.instance.gallery only %}
            </div>

            <div class="card-footer p-0">
                <input
                    type="text"
                    class="form-control p-3 fs-5"
                    placeholder="Skriv ein beskrivelse her..."
                    name="{{ formset.prefix }}-{{ forloop.counter0 }}-description"
                    value="{{ form.instance.description }}"
                />
            </div>

            <div class="d-none">
                {{ form.image }}
                {{ form.gallery }}
                {{ form.id }}
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
