{% if attendances %}
    <section>
        <h2 class="mb-3">{{ title }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Nummer</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                <tr>
                    <td>
                        <a href="{{ attendance.person.get_absolute_url }}">
                            {{ attendance.person.get_name }}
                        </a>
                    </td>
                    <td>{{ attendance.person.phone_number }}</td>
                    <td class="text-center">
                        {% if user == attendance.person or perms.events.delete_eventattendance %}
                        <a href="{% url 'events:attendance_delete' attendance.event.start_time.year attendance.event.slug attendance.person.slug %}">
                            (meld av)
                        </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if user == attendance.person or perms.events.change_eventattendance %}
                        <a href="{% url 'events:attendance_update' attendance.event.start_time.year attendance.event.slug attendance.person.slug %}">
                            (rediger)
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endif %}