
{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page %}{{ event.title }}{% endblock title_page %}
{% block title_content %}{{ event.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=event only %}

    {% if perms.events.change_event or event.created_by == request.user or perms.events.view_eventattendance %}
        <ul class="list-inline">
            {% if perms.events.change_event or event.created_by == request.user %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventUpdate' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-primary btn-sm"
                >
                    Rediger
                </a>
            </li>
            {% endif %}

            {% if perms.events.view_eventattendance %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventAttendanceList' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-primary btn-sm"
                >
                    Sjå svar
                </a>
            </li>
            {% endif %}

            {% if perms.events.delete_event or event.created_by == request.user %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventDelete' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-danger btn-sm"
                >
                    Slett
                </a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock header %}

{% block content %}
    {% include "events/includes/keyinfo_section.html" with event=event only %}
    {% load markdown %}
    {{ event.content | markdown }}
    
    {% if event.repertoires.exists or event.repertoire_extra_scores.exists %}
        <h2 class="fs-3"> Repertoar </h2>
        <ul>
            {% if event.repertoires.count <= 1 %}
                {% for repertoire in event.repertoires.all %}
                    {% for repertoire_entry in repertoire.entries.all %}
                        {% with repertoire_entry.score as score %}
                            <li><a href="{{score.get_absolute_url}}">{{score}}</a></li>
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
                {% for score in event.repertoire_extra_scores.all %}
                    <li><a href="{{score.get_absolute_url}}">{{score}}</a></li>
                {% endfor %}
            {% else %}
                {% for repertoire in event.repertoires.all %}
                    <li><a href="{{repertoire.get_absolute_url}}">{{repertoire}}</a></li>
                {% endfor %}
                {% if event.repertoire_extra_scores.exists %}
                    <li>
                        I tillegg til
                        <ul>
                            {% for score in event.repertoire_extra_scores.all %}
                                <li><a href="{{score.get_absolute_url}}">{{score}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}

    <hr />

    {% load crispy_forms_tags %}
    {% crispy form_attendance %}

    {% include "events/includes/attendances.html" with title="Deltek" attendances=event.attending %}
    {% include "events/includes/attendances.html" with title="Deltek kanskje" attendances=event.attending_maybe %}
    {% include "events/includes/attendances.html" with title="Deltek ikkje" attendances=event.attending_not %}

    {% load comments %}
    {% comment_list event %}
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "events/event_detail.js" %}"></script>
{% endblock js %}

