{% extends 'base.html' %}

{% block title %}{{ event.title }} - Svar{% endblock title %}

{% block page %}
<article class="mt-4">
    <h1 class="mb-3">{{ event.title }} - Svar</h1>

    <p>
        Svar for <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>.
        {{attendances.count}} har svara.
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brukar</th>
                <th>Status</th>
                <th>Laga</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>
                    <a href="{{ attendance.person.get_absolute_url }}">
                        {{ attendance.person.get_name }}
                    </a>
                </td>
                <td>{{ attendance.get_status_display }}</td>
                <td>{{ attendance.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock page %}
