
{% extends "base.html" %}

{% block title_page %}
    {% if view.kwargs.year %}
        Hendingar {{ view.kwargs.year }}
    {% else %}
        Framtidige hendingar
    {% endif %}
{% endblock title_page %}
{% block title_content %}
    {% if view.kwargs.year %}
        Hendingar {{ view.kwargs.year }}
    {% else %}
        Framtidige hendingar
    {% endif %}
{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <a
        href="{% url 'events:EventCreate' %}"
        class="btn btn-primary btn-sm my-1"
    >
        Ny hending
    </a>
{% endblock header %}

{% block content %}
    <section class="mb-3">
        <nav class="mb-3">
            {% if view.kwargs.year %}
                {% with view.kwargs.year as year %}
                    <ol class="list-unstyled">
                        <li class="d-inline">
                            <a class="btn btn-primary" href="{% url "events:EventListYear" year|add:"-2" %}"> {{year|add:"-2"}} </a>
                        </li>
                        <li class="d-inline">
                            <a class="btn btn-primary" href="{% url "events:EventListYear" year|add:"-1" %}"> {{year|add:"-1"}} </a>
                        </li>
                        <li class="d-inline">
                            <a class="btn btn-primary active" href="{% url "events:EventListYear" year|add:"0" %}"> {{year|add:"0"}} </a>
                        </li>
                        <li class="d-inline">
                            <a class="btn btn-primary" href="{% url "events:EventListYear" year|add:"1" %}"> {{year|add:"1"}} </a>
                        </li>
                        <li class="d-inline">
                            <a class="btn btn-primary" href="{% url "events:EventListYear" year|add:"2" %}"> {{year|add:"2"}} </a>
                        </li>
                    </ol>
                {% endwith %}

        </nav>
        <nav class="mb-3">
            <a class="btn btn-primary" href="{% url "events:EventList" %}"> Alle framtidige </a>
            {% else %}
                {% now "Y" as current_year %}
                <a class="btn btn-primary" href="{% url "events:EventListYear" current_year %}"> Heile året </a>
                {% if view.kwargs.filter_type == "ikkje-svara-på" %}
                    <a class="btn btn-primary" href="{% url "events:EventList" %}"> Alle framtidige </a>
                {% else %}
                    <a class="btn btn-primary" href="{% url "events:EventListFilter" "ikkje-svara-på"  %}"> Berre hendingar som ikkje er svara på</a>
                {% endif %}
            {% endif %}
        </nav>
        <p>
            {% include "events/includes/ical_button.html" %}
        </p>
    </section>


    {% if events %}
    <section>
    {% regroup events by start_month as events_grouped %}
    <ol class="list-unstyled">
        {% for group in events_grouped %}
        <li>
            <h2> {{ group.grouper|date:"F"|capfirst }} {% if not year %}{{ group.grouper|date:"Y" }}{% endif %} </h2>
            <hr>

            <ol class="list-unstyled">
                {% for event in group.list %}
                <li>
                    {% include "events/includes/event_list_card.html" with event=event csrf_token=csrf_token only %}
                </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
    </section>
    {% endif %}
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "events/ical_button.js" %}"></script>
{% endblock js %}