<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 g-4 list-unstyled">
    {% for brew in brews %}
    <li class="col">
        <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h3 class="card-title fs-5 mb-0 text-center">{{ brew.name }}</h3>

                <div class="h-32 d-flex align-items-center justify-content-center my-2">
                    {% include "common/includes/image.html" with url=brew.get_logo_url description=brew.name bp_gallery="brews" only %}
                </div>                

                <dl class="dl-inline m-0">
                    <dt>Alkoholprosent</dt>
                    <dd>
                        {% if brew.alcohol_by_volume %}
                            ~{{ brew.alcohol_by_volume | floatformat }} %
                        {% else %}
                            Ukjent
                        {% endif %}
                    </dd>
                </dl>

                <ul class="list-inline d-flex align-items-center flex-column mt-1">
                    <li class="list-inline-item m-1">
                        <a
                            href="{% url 'brewing:BrewPurchaseCreate' brew.slug %}?size={{ brew_sizes.SIZE_0_5 }}"
                            class="btn btn-primary btn-sm"
                        >
                            Kjøp 0.5 L for {{ brew.price_per_0_5 }} NOK
                        </a>
                    </li>
                    <li class="list-inline-item m-1">
                        <a
                            href="{% url 'brewing:BrewPurchaseCreate' brew.slug %}?size={{ brew_sizes.SIZE_0_33 }}"
                            class="btn btn-primary btn-sm"
                        >
                            Kjøp 0.33 L for {{ brew.price_per_0_33 }} NOK
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>