asgiref==3.2.3
astroid==2.3.3
colorama==0.4.3
Django==3.0.2
django-crispy-forms==1.8.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
#mysqlclient==1.4.6
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.1
wrapt==1.11.2
psycopg2-binary==2.8.4
Pillow==7.2.0
PyPDF2==1.26.0
opencv-python==4.3.0.38
# numpy==1.19.0 # Numpy should already be contained in opencv
pdf2image==1.13.1
# pdf2image also requires poppler: sudo apt install poppler-utils, or windows: http://blog.alivate.com.au/poppler-windows/
imutils==0.5.3
pytesseract==0.3.4
pyyaml==5.3.1
unidecode==1.1.1
# pytesseract also requires tesseract: https://github.com/tesseract-ocr/tesseract/wiki
