django==4.1
django-crispy-forms~=1.13
crispy-bootstrap5~=0.6
psycopg2-binary~=2.8
libsass~=0.20
django-sass-processor~=1.0
markdown~=3.3
bleach~=3.3
factory-boy~=3.2
django-autoslug~=1.9
isort~=5.10
black~=22.3.0
flake8~=4.0.1
flake8-django~=1.1
flake8-black~=0.2
flake8-isort~=4.1
django-tree-queries==0.6.0
Pygments~=2.10
Pillow~=9.0.0
sheatless~=1.9.3
PyPDF2~=1.26.0
django-ical~=1.8.0
django-pgtrigger~=2.4
autoflake==1.4
django-watson~=1.6.2
django-debug-toolbar~=3.7
django-debug-toolbar-template-profiler~=2.1
git+https://github.com/Shybert/django-userforeignkey@cuztomize-nullability#egg=django-userforeignkey
