<div class="card p-3 mb-5 shadow-sm">
    <div class="card-body">
        <h3>
            <a href="{% url 'events:EventDetail' event.start_time|date:"Y" event.slug %}">
                {{ event }}
            </a>
        </h3>

        {% include "events/includes/keyinfo_section.html" with event=event only %}

        {% load markdown %}
        {% if event.keyinfo_entries.count == 0 %}
            {{ event.content|markdown|truncatewords_html:32 }}
        {% else %}
            {{ event.content|markdown|truncatewords_html:12 }}
        {% endif %}

        {% load get_event_attendance %}
        {% get_event_attendance user event as attendance %}
        {% if event.is_in_future and not attendance %}
            <form action="{{ event.attendance_form.helper.form_action }}" method="POST">
                {% csrf_token %}
                {% for field in event.attendance_form.visible_fields %}
                    <div class="d-none">{{ field }}</div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Meld meg på">
            </form>
        {% endif %}
    </div>
</div>