<button class="btn btn-primary" id="ical-link-collapse-button" type="button">
    Få hendingar i eigen kalender
</button>
<div class="collapse m-3" id="ical-link-collapse">
    <p>
        {% load get_event_feed_absolute_url %}
        {% get_event_feed_absolute_url as event_feed_absolute_url %}
        <a class="text-break" id="ical-link" href="{{ event_feed_absolute_url }}">
            {{ event_feed_absolute_url }}
        </a>
        <span id="ical-link-collapse-clipboard-feedback"></span>
    </p>
    <p>
        {% load embeddable_text markdown %}
        {% get_embeddable_text "Hjelpetekst kalenderapp-integrasjonsknapp" as text %}
        {{ text | markdown }}
    </p>
</div>
