<dl class="dl-inline">
    <dt>Tidspunkt</dt>
    <dd>
        {% include "events/includes/event_time.html" with event=event date_format="l j. F, Y – H:i" %}
    </dd>
    <dt>Kategori</dt>
    <dd>
        {{ event.category }}
    </dd>
    {% if connected_galleries %}
    <dt>Oppkobla galleri</dt>
    <dd>
        {% for gallery in connected_galleries %}
               <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a>
        {% endfor %}
    </dd>
    {% endif %}
    {% for entry in event.keyinfo_entries.all %}
        <dt>{{ entry.key }}</dt>
        {% load markdown %}
        <dd>{{ entry.info | markdown_inline }}</dd>
    {% endfor %}
</dl>
