{% extends "base.html" %}

{% block page %}
    <h1 class="mb-3">  Lagertilgjenge </h1>
    <table class="table table-bordered">
        <tr>
            <th> Namn </th>
            <th> Studentkortnummer </th>
            </tr>
        {% for user in users_with_storage_access %}
                <tr>
                    <td> <a href="{{user.get_absolute_url}}"> {{ user.get_name }} </a> </td>
                    <td> {{ user.student_card_number }} </td>
                </tr>
        {% endfor %}
    </table>

{% endblock %}