{% extends "base.html" %}

{% block title_page %}
    Lagertilgjenge
{% endblock title_page %}

{% block title_content %}
    Lagertilgjenge
{% endblock title_content %}

{% block content %}   
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th> Namn </th>
                <th> Studentkortnummer </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_with_storage_access %}
                    <tr>
                        <td> <a href="{{ user.get_absolute_url }}"> {{ user.get_name }} </a> </td>
                        <td> {{ user.student_card_number }} </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
