{% extends "base.html" %}

{% block title_page %}
    Brukarar av {{jacket|lower}}
{% endblock title_page %}
{% block title_content %}
    Brukarar av {{jacket|lower}}
{% endblock title_content %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="jacket_overview">
            <thead>
                <tr>
                    <th> Brukar </th>
                    <th> Gjer til eigar </th>
                    <th> Fjern </th>
                </tr>
            </thead>
            <tbody>
            {% for jacket_user in jacket_users %}
                {% with jacket_user.user as user %}
                    <tr>
                        <td> <a href="{% url "accounts:ProfileDetail" user.slug %}">{{user}}</a> {% if jacket_user.is_owner %}(eigar){% endif %} </td>
                        <td>
                            {% if not jacket_user.is_owner %}
                                <form action="{% url "uniforms:JacketUserMakeOwner" jacket.number user.slug %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Gjer til eigar" class="btn btn-secondary">
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url "uniforms:RemoveJacketUser" jacket.number user.slug %}">Fjern</a>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url "uniforms:AddJacketUser" jacket.number %}" class="btn btn-primary"> Legg til brukar </a>
{% endblock content %}
