{% extends "base.html" %}

{% block title_page %}
    Jakkeoversikt
{% endblock title_page %}
{% block title_content %}
    Jakkeoversikt
{% endblock title_content %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="jacket_overview">
            <thead>
                <tr>
                    <th> Jakkenummer </th>
                    <th> Stad </th>
                    <th> Eigar </th>
                    <th> Ekstra brukarar </th>
                    {% if perms.uniforms.change_jacket %}
                    <th> Rediger brukarar </th>
                    {% endif %}
                    <th> Kommentar </th>
                    <th> Tilstand </th>
                </tr>
            </thead>
            <tbody>
                {% for jacket in jackets %}
                <tr data-state="{{ jacket.state }}">
                    <td class="
                        {% if jacket.get_state_order == 0 %}
                            bg-success
                        {% elif jacket.get_state_order == 1 %}
                            bg-warning
                        {% elif jacket.get_state_order == 2 %}
                            bg-danger
                        {% endif %}
                        "
                    >
                        {{ jacket.number }}
                    </td>
                    <td> {{ jacket.location }} </td>
                    <td>
                        {% with jacket.get_owner as owner %}
                            {% if owner %}
                                <a href="{% url "accounts:ProfileDetail" owner.slug %}"> {{ owner }} </a>
                                {% if not owner.is_active_member %}
                                    ({{ owner.get_membership_status_display }})
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with jacket.get_extra_users as users %}
                            {% for user in users %}
                                <a href="{% url "accounts:ProfileDetail" user.slug %}">{{ user }}</a>{% if forloop.counter < users|length %},{% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>
                    {% if perms.uniforms.change_jacket %}
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url "uniforms:JacketUsers" jacket.number %}"> Rediger brukarar </a>
                    </td>
                    {% endif %}
                    <td> {{ jacket.comment }} </td>
                    <td
                        data-order="{{ jacket.get_state_order }}"
                        class="
                        {% if jacket.get_state_order == 0 %}
                            bg-success
                        {% elif jacket.get_state_order == 1 %}
                            bg-warning
                        {% elif jacket.get_state_order == 2 %}
                            bg-danger
                        {% endif %}
                        "
                    >
                        {{ jacket.get_state_display }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if perms.uniforms.add_jacket and perms.uniforms.change_jacket and perms.uniforms.delete_jacket %}
    <a href="{% url "uniforms:JacketsUpdate" %}" class="btn btn-primary"> Rediger jakker </a>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "uniforms/jacket_list.js" %}"></script>
{% endblock js %}
