{% extends "base.html" %}

{% block page %}
<h3>Hending: {{event.title}}</h3>
<p class="text-muted">Laga av: {{event.owner}}</p>
<p>Begynner: {{event.start_time | date:"d.m.Y H:s"}}</p>
{% if event.end_time %}
<p>Ferdig: {{event.end_time | date:"d.m.Y H:s"}}</p>
{% endif %}
<!--TODO: rich text editor-->
<p>{{event.description}}</p>
<div>
    <form class="form-inline" action="{% url 'attend' event.id 2 %}" method="PATCH">
        <button>Jeg vil delta!!</button>
    </form>
    <form class="form-inline" action="{% url 'attend' event.id 1 %}" method="PATCH">
        <button>Jeg vet ikke helt......</button>
    </form>
    <form class="form-inline" action="{% url 'attend' event.id 0 %}" method="PATCH">
        <button>Kanskje neste gang!!</button>
    </form>
</div>
<h4>Deltek</h4>
<ul>
    {% for person in event.attending %}
    <li>{{person}}</li>
    {% endfor %}
</ul>
<h4>Deltek kanskje</h4>
<ul>
    {% for person in event.might_be_attending %}
    <li>{{person}}</li>
    {% endfor %}
</ul>
<h4>Deltek ikkje</h4>
<ul>
    {% for person in event.not_attending %}
    <li>{{person}}</li>
    {% endfor %}
</ul>
{% if is_owner %}
<a href="{% url 'update_event' event.id %}" class="btn btn-primary">Rediger</a>
{% endif %}
{% endblock %}