{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block page %}
<article>
    <header>
        <h1>{{ object.title }}</h1>
        {% if user.is_authenticated %}
            <p>
                Lagt ut av {{ object.created_by }} den
                <time datetime="{{ object.submitted | date:"c" }}">{{ object.submitted }}</time>
                <br />
                Redigert av {{ object.modified_by }} den
                <time datetime="{{ object.modified | date:"c" }}">{{ object.modified }}</time>                
            </p>
        {% endif %}
    </header>

    {% load markdown %}
    {{ object.description | markdown }}

    {% block extra %}{% endblock extra %}
</article>
{% endblock page %}
