{% extends "base.html" %}
{% load utils %}

{% block title %}
    {% if form_title %}
        {{ form_title }}
    {% elif object %}
        Rediger {{ object | verbose_name }} "{{ object }}"
    {% elif view.model %}
        Opprett
        {{ view.model | verbose_name }}
    {% else %}
        Skjema
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock sidebar %}

{% block page %}
<article>
    <header>
        {% if breadcrumbs %}
            {% include "common/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
        {% endif %}

        <h1>
            {% if form_title %}
                {{ form_title }}
            {% elif object %}
                Rediger {{ object | verbose_name }} "{{ object }}"
            {% elif view.model %}
                Opprett
                {{ view.model | verbose_name }}
            {% else %}
                Skjema
            {% endif %}
        </h1>
    </header>

    {% block form %}
        {% if form and formset %}
        <form method="post">
        {% endif %}
            {% if form %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            {% endif %}
            {% if formset %}
                {% load crispy_forms_tags %}
                {% crispy formset %}
            {% endif %}
        {% if form and formset %}
        </form>
        {% endif %}
    {% endblock form %}
</article>
{% endblock %}
