{% extends "base.html" %}

{% block title_page %}Stemmer for {{ poll }}{% endblock title_page %}
{% block title_content %}Stemmer for {{ poll }}{% endblock title_content %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brukar</th>
                <th>Stemme</th>
                <th>Tidspunkt</th>
            </tr>
        </thead>

        <tbody>
        {% if poll.type == "SINGLE_CHOICE" %}
            {% for vote in votes %}
                <tr>
                    <td>
                        {{ vote.user }}
                    </td>
                    <td>
                        {{ vote.choice }}
                    </td>
                    <td>
                        {% if vote.created %}
                            <time datetime="{{ vote.created | date:"c" }}">
                                {{ vote.created | date:"j. F, Y - H:i" }}
                            </time>
                        {% else %}
                            Ukjend
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% regroup votes by user as votes_by_user %}
            {% for user, votes in votes_by_user %}
                <tr>
                    <td>
                        {{ user }}
                    </td>
                    <td>
                        <ul class="m-0">
                            {% for vote in votes %}
                            <li>{{ vote.choice }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if votes.0.created %}
                            <time datetime="{{ votes.0.created | date:"c" }}">
                                {{ votes.0.created | date:"j. F, Y - H:i" }}
                            </time>
                        {% else %}
                            Ukjend
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}
