{% extends "base.html" %}

{% block title %}Avstemmingar{% endblock title %}

{% block page %}
<article>
    <h1>Avstemmingar</h1>

    <ul>
        {% for poll in polls %}
        <li>
            <a href="{{ poll.get_absolute_url }}">{{ poll }}</a>
            - {{ poll.num_voting }} har stemt
        </li>
        {% endfor %}
    </ul>

    <footer>
        {% if perms.polls.add_poll and perms.polls.add_choice and perms.polls.change_choice and perms.polls.delete_choice %}
        <a href="{% url 'polls:PollCreate' %}" class="btn btn-primary">Ny avstemming</a>
        {% endif %}

        {% include "common/includes/pagination.html" with pagination_label="Avstemmingsider" %}
    </footer>

</article>
{% endblock page %}
