{% extends "base.html" %}

{% block title_page %}Avstemmingar{% endblock title_page %}
{% block title_content %}Avstemmingar{% endblock title_content %}

{% block header %}
    {{ block.super }}

    {% if perms.polls.add_poll and perms.polls.add_choice and perms.polls.change_choice and perms.polls.delete_choice %}
    <a href="{% url 'polls:PollCreate' %}" class="btn btn-primary btn-sm my-1">Ny avstemming</a>
    {% endif %}
{% endblock header %}

{% block content %}
    <ul>
        {% for poll in polls %}
        <li>
            <a href="{{ poll.get_absolute_url }}">{{ poll }}</a>
            - {{ poll.num_voting }} har stemt
        </li>
        {% endfor %}
    </ul>

    <footer>
        {% include "common/includes/pagination.html" with pagination_label="Avstemmingsider" %}
    </footer>
{% endblock content %}
