{% extends "base.html" %}

{% block title %}
    Fjern di stemme for {{ poll }}
{% endblock %}

{% block page %}
<article>
    <header>
        {% include "common/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}

        <h1>Fjern di stemme for {{ poll }}</h1>
    </header>

    <form method="post">
        {% csrf_token %}
        <p>Er du sikker på at du vil fjerne di stemme for {{ poll }}?</p>
        <p class="mb-0">Du har stemt:</p>
        <ul>
            {% for vote in votes %}
            <li>
                {{ vote.choice }}
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Fjern di stemme" class="btn btn-danger">
    </form>
</article>
{% endblock %}
