{% extends "base.html" %}
{% load utils %}

{% block title_page %}{{ poll }}{% endblock %}
{% block title_content %}{{ poll }}{% endblock %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=poll only %}

    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'polls:PollResults' poll.slug %}" class="btn btn-primary btn-sm">Resultat</a>
        </li>
        {% if perms.polls.change_poll and perms.polls.add_choice and perms.polls.change_choice and perms.polls.delete_choice %}
        <li class="list-inline-item">
            <a href="{% url 'polls:PollUpdate' poll.slug %}" class="btn btn-primary btn-sm">Rediger avstemming</a>
        </li>
        {% endif %}
        {% if perms.polls.delete_poll and perms.polls.delete_choice %}
        <li class="list-inline-item">
            <a href="{% url 'polls:PollDelete' poll.slug %}" class="btn btn-primary btn-sm">Slett avstemming</a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}

{% block content %}
    {% load crispy_forms_tags %}
    {% crispy form %}

    {% load comments %}
    {% comment_list poll %}
{% endblock %}
