<!DOCTYPE html>
<html lang="no-nb">

<head>
	<title>Julekalender</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/julekalender/base.css' %}">
</head>

<body>
  <h1>Julekalender</h1>

  {% if calendars %}
  {% for calendar in calendars %}
    <div> 
        {{calendar.year}}
    </div>
  {% endfor %}
  {% else %}
    <div>No calendars created.</div>
  {% endif %}

  <form action="{% url 'newJulekalender' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Ny julekalender">
  </form>
</body>