{% extends "./base.html" %}

{% block page %}
  <div class="calendar">
    <h1 class="calendar-title">Julekalender {{calendar.year}}</h1>

    <div class="windows">
      {% load get_range %}
      {% for i in 24|get_range %}
        <div id="window{{ i }}" class="window">
          <button onclick="selectWindow({{ i }})">
            {{ i }}
          </button>
        </div>
      {% endfor %}
    </div>

    {% comment %} Extra div required to center the calendar windows {% endcomment %}
    <div></div>
  </div>

  <div id="windowModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <section id="window-content" class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"></h2>

          <button
            type="button"
            onclick="showEditWindow()"
            class="modal-change btn btn-outline-primary"
          >
            Endre
          </button>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p class="modal-author-container">
            Skrevet av <span class="modal-author"></span>
          </p>
          <p class="modal-text"></p>
        </div>
      </section>

      <section id="new-window-content" class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Ny luke</h2>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="{% url 'julekalender' calendar.year %}" method="POST">
            {% load crispy_forms_tags %}
            {% crispy form %}
          </form>
      </section>
    </div>
  </div>
{% endblock page %}

{% block js %}
  {{ windows | json_script:"windows" }}
  {% load static %}
  <script src="{% static 'julekalender/julekalender.js' %}"></script>
{% endblock js %}
