{% extends "./base.html" %}

{% block page %}
  <div class="calendar">
    <h1 class="calendar-title">Julekalender {{calendar.year}}</h1>

    <div class="windows">
      {% for window in windows %}
        <div class="window {% if window %}written{% endif %}">
          <button
            data-toggle="modal"
            data-target="#window{{ forloop.counter }}"
          >
            {{ forloop.counter }}
          </button>

          <div id="window{{ forloop.counter }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <section class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title">
                    {% if window %}
                      {{ window.title }}
                    {% else %}
                      Ny luke
                    {% endif %}
                  </h2>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  {% if window %}
                    {{ window.content }}
                  {% else %}
                    <form action="{% url 'julekalenderWindow' calendar.year forloop.counter %}" method="POST">
                      {% load crispy_forms_tags %}
                      {% crispy form %}
                    </form>
                  {% endif %}
                </div>
              </section>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% comment %} Extra div required to center the calendar windows {% endcomment %}
    <div></div>
  </div>
{% endblock page %}

{% block js %}
  {% load static %}
  <script src="{% static 'julekalender/julekalender.js' %}"></script>
{% endblock js %}
