{% extends "./base.html" %}

{% block content %}
  <section class="calendars">
    <h1>Taktlaus Julekalender</h1>

    {% if calendars %}
      <ul>
        {% for calendar in calendars %}
          <li> 
              <a
                class="btn btn-lg btn-block btn-julekalender"
                href="{% url 'calendar' calendar.year %}"
              >
                {{ calendar.year }}
              </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if userCanCreate %}
      <button data-bs-toggle="modal" data-bs-target="#new-calendar" class="btn btn-lg btn-julekalender">Lag ny julekalender</button>
      <div id="new-calendar" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <section class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">
                Ny julekalender
              </h2>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              {% load crispy_forms_tags %}
              {% crispy form %}
            </div>
          </section>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}