{% extends "./base.html" %}

{% block title %}Julekalender {{julekalender.year}}{% endblock title %}

{% block content %}
    <h1 class="text-white my-4 dancing-script">Julekalender {{julekalender.year}}</h1>

    <ul class="windows mb-4 list-unstyled">
        {% for index in permutation %}
        <li>
            <div class="button-window w-100 h-100" data-index="{{ index }}">
                <button class="t">{{ index }}</button>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div id="modal" data-index="{{ index }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            {% for window in julekalender.windows.all %}
                <article class="modal-content window-test d-none" data-index="{{ window.index }}">
                    <header class="modal-header">
                        <h2 class="modal-title">{{ window.title }}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>

                    <div class="modal-body">
                        <p>
                        Skrive av <span class="fst-italic">{{ window.created_by }}</span>
                        </p>
                        {% load markdown %}
                        {{ window.content | markdown }}
                    </div>
                </article>
            {% endfor %}

            <section id="form-container" class="modal-content d-none">
                <header class="modal-header">
                    <h2 class="modal-title">Ny luke</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>

                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'julekalender/julekalender.js' %}"></script>
{% endblock js %}
