body {
  background: url("/static/julekalender/nightsky.png");
  background-size: cover;
  background-position: top center;
  padding-top: 0;
}
@media only screen and (max-width: 600px) {
  body {
    background: no-repeat url("/static/julekalender/nightskymobilecrop.png"),
      black;
  }
}

.calendar {
  display: grid;
  justify-items: center;
  min-height: 100vh;
}
.calendar-title {
  align-self: end;
  margin: 1.5rem 0;
  text-align: center;
  color: #fffe;
  font-family: "Dancing Script", var(--font-family-sans-serif);
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .calendar-title {
    font-size: 2.5rem;
  }
}

.windows {
  display: grid;
  grid-template-rows: repeat(4, 120px);
  grid-template-columns: repeat(6, 120px);
  grid-gap: 25px;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 920px) {
  .windows {
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(4, 120px);
  }
}
@media only screen and (max-width: 625px) {
  .windows {
    grid-template-rows: repeat(8, 120px);
    grid-template-columns: repeat(3, 120px);
  }
}
@media only screen and (max-width: 480px) {
  .windows {
    grid-template-rows: repeat(12, 120px);
    grid-template-columns: repeat(2, 120px);
  }
}

.window {
  background-color: white;
  box-shadow: inset 0 0 10px #555;
  background: url("/static/julekalender/squigglyLines.svg"), white;
  background-size: cover;
}

.window > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #a297c3;
  color: #fffe;
  font-size: 56px;
  box-shadow: 0 15px 15px rgba(64, 93, 50, 0.03),
    5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease;
  transform-origin: right;
}
.window > button:hover {
  transform: perspective(1000px) rotate3d(0, 1, 0, 27deg);
}
.window.opened > button {
  transform: perspective(1000px) rotate3d(0, 1, 0, 140deg);
}
.window.written > button {
  background-color: #5d4f8a;
}

@keyframes topToBottom {
  from {
    top: -9px;
  }
  to {
    top: 100%;
  }
}
@keyframes wiggle {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(-40px);
  }
}

.snowflake {
  width: 9px;
  height: 9px;
  position: fixed;
  top: 0;
  color: white;
  font-size: 10px;
  animation-duration: 10s, 1.5s;
  animation-name: topToBottom, wiggle;
  animation-iteration-count: infinite;
  animation-timing-function: linear, ease-in-out;
  animation-direction: normal, alternate;
}
.snowflake:nth-child(1) {
  left: 5%;
  animation-delay: -4.2s;
}
.snowflake:nth-child(2) {
  left: 13%;
  animation-delay: -2.6s;
}
.snowflake:nth-child(3) {
  left: 23%;
  animation-delay: -7s;
}
.snowflake:nth-child(4) {
  left: 30%;
  animation-delay: -1.1s;
}
.snowflake:nth-child(5) {
  left: 32%;
}
.snowflake:nth-child(6) {
  left: 38%;
  animation-delay: -6.6s;
}
.snowflake:nth-child(7) {
  left: 42%;
  animation-delay: -7.3s;
}
.snowflake:nth-child(8) {
  left: 48%;
  animation-delay: -8.7s;
}
.snowflake:nth-child(9) {
  left: 56%;
  animation-delay: -4.1s;
}
.snowflake:nth-child(10) {
  left: 64%;
  animation-delay: -3.2s;
}
.snowflake:nth-child(11) {
  left: 70%;
  animation-delay: -5.8s;
}
.snowflake:nth-child(12) {
  left: 72%;
  animation-delay: -2.1s;
}
.snowflake:nth-child(13) {
  left: 78%;
  animation-delay: -9.4s;
}
.snowflake:nth-child(14) {
  left: 83%;
  animation-delay: -6.4s;
}
