@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

// Utility function for extending
// the values of existing Bootstrap utilities.
// https://getbootstrap.com/docs/5.0/utilities/api/#modify-utilities
@function extend-values($property, $values) {
  @return map-merge(
    map-get($utilities, $property),
    (
      values:
        map-merge(map-get(map-get($utilities, $property), "values"), $values),
    )
  );
}

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto pointer grab,
    ),
    "object-fit": (
      property: object-fit,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),
    "flex":
      extend-values(
        "flex",
        (
          0: 0,
          1: 1,
        )
      ),
    "background-color":
      extend-values(
        "background-color",
        (
          "reset": inherit,
        )
      ),
    "font-size":
      extend-values(
        "font-size",
        (
          7: $font-size-base * 0.9,
        )
      ),
    "width":
      extend-values(
        "width",
        (
          0: 0,
          "px": 1px,
          1: 0.25rem,
          2: 0.5rem,
          3: 0.75rem,
          4: 1rem,
          5: 1.25rem,
          6: 1.5rem,
          7: 1.75rem,
          8: 2rem,
          9: 2.25rem,
          10: 2.5rem,
          11: 2.75rem,
          12: 3rem,
          14: 3.5rem,
          16: 4rem,
          20: 5rem,
          24: 6rem,
          28: 7rem,
          32: 8rem,
          36: 9rem,
          40: 10rem,
          44: 11rem,
          48: 12rem,
          52: 13rem,
          56: 14rem,
          60: 15rem,
          64: 16rem,
          72: 18rem,
          80: 20rem,
          96: 24rem,
        )
      ),
    "height":
      extend-values(
        "height",
        (
          0: 0,
          "px": 1px,
          1: 0.25rem,
          2: 0.5rem,
          3: 0.75rem,
          4: 1rem,
          5: 1.25rem,
          6: 1.5rem,
          7: 1.75rem,
          8: 2rem,
          9: 2.25rem,
          10: 2.5rem,
          11: 2.75rem,
          12: 3rem,
          14: 3.5rem,
          16: 4rem,
          20: 5rem,
          24: 6rem,
          28: 7rem,
          32: 8rem,
          36: 9rem,
          40: 10rem,
          44: 11rem,
          48: 12rem,
          52: 13rem,
          56: 14rem,
          60: 15rem,
          64: 16rem,
          72: 18rem,
          80: 20rem,
          96: 24rem,
        )
      ),
  )
);

.p-margin-last-0 > p:last-of-type {
  margin-bottom: 0 !important;
}
