// Bootstrap settings
$enable-shadows: true;

// Colors
$primary: #a50104;
$secondary: #848201;
$navbar-dark-color: rgba(255, 255, 255, 0.9);
$button-color-advent-calendar: #5d4f8a;

$navbar-padding: 120px;

// Forms
$form-check-input-width: 1.5em;
$form-check-min-height: 2em;
