$gray-650: #666;

$input-bg: $gray-700;
$input-disabled-bg: $gray-650;
$input-group-addon-bg: $gray-650;
$input-color: $body-color;
$input-border-color: transparent;
$form-select-indicator-color: $input-color;
$input-placeholder-color: $gray-400;
$text-muted: $gray-300;
