// Bootstrap settings
$enable-shadows: true;

// Colors
$primary: #a50104;
$navbar-dark-color: rgba(255, 255, 255, 0.9);
$button-color-advent-calendar: #5d4f8a;
$gray-650: #666;

$navbar-padding: 120px;

// Forms
$form-check-input-width: 1.5em;
$form-check-min-height: 2em;
$input-bg: $gray-700;
$input-disabled-bg: $gray-650;
$form-select-disabled-bg: $input-disabled-bg;
$input-group-addon-bg: $gray-650;
$input-color: $body-color;
$input-border-color: transparent;
$form-select-indicator-color: $input-color;
$input-placeholder-color: $gray-400;
$text-muted: $gray-300;
