body {
  // Overlapping navbar
  padding-top: 120px;
}

.nav-link.active {
  font-weight: bold;
}

thead,
thead tr {
  background-color: $primary;
  color: white;
}
th {
  border-bottom-style: none;
}

.form-label {
  font-weight: bold;
}
.asteriskField {
  display: none;
}
