// These variables have bad default values
$select-color-text: $body-color !default;
$dropdown-link-hover-bg: $primary;
@import "tom-select/src/scss/tom-select.bootstrap5.scss";

body {
  // Overlapping navbar
  padding-top: $navbar-padding;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
.nav-link:hover {
  text-decoration: underline;
}

.breadcrumb {
  background-color: unset;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a {
  text-decoration: none;
  color: $link-color;
}

thead,
thead tr {
  background-color: $primary;
  color: white;
}
th {
  border-bottom-style: none;
}

.form-label {
  font-weight: bold;
}
.form-control::placeholder {
  font-style: italic;
}
.asteriskField {
  display: none;
}

.navbar-dropdown-menu {
  // Set background-color explictly to the card-bg for dark mode, so the
  // text is readable on light mode as well.
  background-color: $gray-800;
  border: 1px solid white;
}

.btn-advent-calendar {
  @include button-variant(
    $button-color-advent-calendar,
    darken($button-color-advent-calendar, 7.5%),
    darken($button-color-advent-calendar, 10%),
    lighten($button-color-advent-calendar, 5%),
    lighten($button-color-advent-calendar, 10%),
    darken($button-color-advent-calendar, 30%)
  );
}

.dl-inline {
  dt:before {
    content: "";
    display: block;
  }
  dt::after {
    content: ": ";
  }
  dt, dd {
    display: inline;
  }
}

// Hide BigPicture's weird and unnecessary caption close button
.bp-xc {
  display: none;
}

// Hides the ugly arrows in number-inputs because they are useless and consumes space.
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Passes click and some other pointer events on disabled inputs to parent elements.
[disabled] {
  pointer-events:none;
}
