body {
  // Overlapping navbar
  padding-top: 120px;
}

.nav-link.active {
  font-weight: bold;
}

.breadcrumb {
  background-color: unset;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a {
  text-decoration: none;
  color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}

thead,
thead tr {
  background-color: $primary;
  color: white;
}
th {
  border-bottom-style: none;
}

.form-label {
  font-weight: bold;
}
.asteriskField {
  display: none;
}
