@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.fs-7 {
  font-size: $font-size-base * 0.9 !important;
}
.color-unset {
  color: unset !important;
}

.breadcrumb {
  background-color: unset;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a {
  text-decoration: none;
}

.p-margin-last-0 > p:last-of-type {
  margin-bottom: 0 !important;
}
