@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.fs-7 {
  font-size: $font-size-base * 0.9 !important;
}
.color-unset {
  color: unset !important;
}
.object-fit-cover {
  object-fit: cover;
}

.breadcrumb {
  background-color: unset;
  margin: 0;
  padding: 0;
}
.breadcrumb-item a {
  text-decoration: none;
}

.p-margin-last-0 > p:last-of-type {
  margin-bottom: 0 !important;
}

$button-color-julekalender: #5d4f8a;

.btn-julekalender {
  @include button-variant(
    $button-color-julekalender,
    darken($button-color-julekalender, 7.5%),
    darken($button-color-julekalender, 10%),
    lighten($button-color-julekalender, 5%),
    lighten($button-color-julekalender, 10%),
    darken($button-color-julekalender, 30%)
  );
}

.btn-julekalender-outline {
  @include button-outline-variant(
    $button-color-julekalender,
    #222222,
    lighten($button-color-julekalender, 5%),
    $button-color-julekalender
  );
}
