body {
  /* overlappende navbar */
  padding-top: 90px;
}

.navbar-logo {
  width: 60px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 1px 1px #000000;
}

.navbar {
  background-color: #a50104;
}

/* Table styling */
thead,
thead tr {
  background-color: #a50104;
}
th,
td {
  padding: 10px 14px;
}
