<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Notenamn</th>
            <th><span class="visually-hidden">Favorittstemme</span></th>
            <th><span class="visually-hidden">Stemmeoversikt</span></th>
        </tr>
    </thead>
    <tbody>
    {% for score in repertoire.scores.all %}
        <tr>
            <td>
                {{ score }}
            </td>
            <td>
                {% if score.user_has_favorite_parts %}
                    {% load utils %}
                    {% url "sheetmusic:FavoritePartPdf" score.slug as favorite_part_pdf_url %}
                    <a href="{{favorite_part_pdf_url|embed_pdf_url}}"> Favorittstemme </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url "sheetmusic:ScoreView" score.slug %}"> Stemmeoversikt </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list-inline my-1">
    <li class="list-inline-item">
        <a href="{% url 'repertoire:RepertoirePdf' repertoire.slug %}" class="btn btn-primary btn-sm"> Generer PDF fra favorittstemmer </a>
    </li>
    {% if perms.repertoire.change_repertoire %}
        <li class="list-inline-item">
            <a href="{% url 'repertoire:RepertoireUpdate' repertoire.slug %}" class="btn btn-secondary btn-sm"> Rediger </a>
        </li>
    {% endif %}
    {% if perms.repertoire.delete_repertoire %}
        <li class="list-inline-item">
            <a href="{% url 'repertoire:RepertoireDelete' repertoire.slug %}" class="btn btn-danger btn-sm"> Slett </a>
        </li>
    {% endif %}
    </li>
</ul>
