{% if poll %}
    <dl>
        {% for choice in poll.choices.all %}
        <dt class="mb-2">{{ choice }}</dt>
        <dd class="d-flex mb-3">
            {% with choice.percentage as percentage %}
                <span class="w-12">{{ percentage }}</span>
                <div class="w-100">
                    <div
                        style="width: {{ percentage }};"
                        class="d-block h-100 ms-2 rounded bg-primary">
                    </div>
                </div>
            {% endwith %}
        </dd>
        {% endfor %}
    </dl>
    <p>{{ poll.num_voting }} har stemt</p>
{% endif %}