{% extends 'base.html' %}

{% block title %}Songar{% endblock title %}

{% block page %}
<article>
    <header>
        <h1>Songar</h1>
    </header>

    <nav>
        <ul>
            {% for song in song_list %}
            <li>
                <a href="{% url 'song_detail' song.pk %}">{{ song.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <footer>
        <a href="{% url 'song_create' %}" class="btn btn-primary">
            Ny sang
        </a>
    </footer>
</article>
{% endblock page %}