{% extends "admin/base_site.html" %}

{% block extrastyle %}
    {% load sass_tags %}
    <link href="{% sass_src 'scss/bootstrap-light.scss' %}" media="(prefers-color-scheme: light)" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/bootstrap-dark.scss' %}" media="(prefers-color-scheme: dark)" rel="stylesheet" type="text/css">
    {% load static %}
	<script src="{% static "scss/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
{% endblock extrastyle %}

{% block header %}
    {% include "navbar/includes/navbar.html" %}
{% endblock header %}
