<div class="d-flex flex-column gap-3">
    {% if not user.is_authenticated %}
        <section class="card p-3">
            <h2 class="fs-3">Innlogging</h2>
            {% load crispy_forms_tags %}
            {% crispy form_login %}
            <a href="{% url 'password_reset' %}">Be om nytt passord</a>
        </section>
    {% endif %}

    {% if user.is_authenticated and user.image_sharing_consent == "UNKNOWN" %}
        <section class="card p-3">
            <h2 class="fs-3">Sosiale medier</h2>
            <p>
                Kan bilete du er med i delast på DT sine sosiale medier?
            </p>

            {% crispy form_image_sharing_consent %}
        </section>
    {% endif %}

    {% if poll %}
        <section class="card p-3">
            <h2 class="fs-3">{{ poll }}</h2>

            {% load polls %}
            {% vote_or_results poll user request_path %}

            <footer>
                <a href="{% url "polls:PollList" %}">Eldre avstemmingar</a>
            </footer>
        </section>
    {% endif %}
</div>
