<h2> Snaraste bursdagar </h2>

<ul>
    {% for birthday_user in upcoming_birthdays %}
    <li>
        <time
            datetime="{{ birthday_user.birthdate | date:"c" }}"
            title="{{ birthday_user.birthdate }}"
        >
            {{ birthday_user.birthdate | date:"j. F" }}
        </time>
        –
        <a href={{ birthday_user.get_absolute_url }}>{{ birthday_user }}</a>
    </li>
    {% endfor %}
</ul>

<p>
    <a class="btn btn-primary" href="{% url "accounts:BirthdayList" %}">Alle bursdagar</a>
</p>
