<h2>Hendingar</h2>

<ul>
    {% for event in events %}
    <li>
        <a href="{% url 'events:EventDetail' event.start_time|date:"Y" event.slug %}">
            {{event.title}}
        </a>
        <div>
            {% include "events/includes/event_time.html" with event=event date_format="d.m.Y – H:i" %}
        </div>
    </li>
    {% endfor %}
</ul>

<ul class="d-flex flex-wrap list-unstyled">
    <li class="m-2">
        <a class="btn btn-primary" href="{% url "events:EventList" %}"> Alle hendingar </a>
    </li>

    <li class="m-2">
        {% include "events/includes/ical_button.html" %}
    </li>
</ul>
