<div class="my-3">
    <figure>
        <blockquote class="blockquote">
            {% load markdown %}
            {{ quote.quote | markdown }}
        </blockquote>
        <figcaption class="blockquote-footer">
            {{ quote.quoted_as_or_users }}
            -
            <time
                datetime="{{ quote.created | date:"c" }}"
                title="{{ quote.created | date }}"
            >
                {{ quote.created | date }}
            </time>
        </figcaption>
    </figure>

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            {% if perms.quotes.change_quote or quote.created_by == request.user %}
                <a href="{% url 'quotes:QuoteUpdate' quote.pk %}" class="btn btn-primary btn-sm">
                    Rediger sitat
                </a>
            {% endif %}
        </li>

        <li class="list-inline-item">
            {% if perms.quotes.delete_quote or quote.created_by == request.user %}
                <a href="{% url 'quotes:QuoteDelete' quote.pk %}" class="btn btn-danger btn-sm">
                    Slett sitat
                </a>
            {% endif %}
        </li>
    </ul>
</div>
