{% extends 'base.html' %}

{% block title_page %}Brygging{% endblock title_page %}
{% block title_content %}Brygging{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'brewing:DepositCreate' %}" class="btn btn-primary btn-sm my-1">Ny innbetaling</a>
        </li>

        {% if perms.brewing.view_transaction %}
        <li class="list-inline-item">
            <a href="{% url 'brewing:BalanceList' %}" class="btn btn-primary btn-sm my-1">Sjå saldoar</a>
        </li>
        {% endif %}
    </ul>    
{% endblock header %}


{% block content %}
    Saldo: {{ user.brewing_transactions.balance }} NOK

    <section>
        <h2>Brygg</h2>

        <ul>
            {% for brew in brews %}
            <li>
                {{ brew.name }}
                – 
                <a href="{% url 'brewing:BrewPurchaseCreate' brew.pk %}?size={{ brew_sizes.SIZE_0_5 }}">
                    Kjøp 0.5 L for {{ brew.price_per_0_5 }} NOK
                </a>
                –
                <a href="{% url 'brewing:BrewPurchaseCreate' brew.pk %}?size={{ brew_sizes.SIZE_0_33 }}">
                    Kjøp 0.33 L for {{ brew.price_per_0_33 }} NOK
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
