{% extends 'base.html' %}

{% block title_page %}Brygging{% endblock title_page %}
{% block title_content %}Brygging{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'brewing:DepositCreate' %}" class="btn btn-primary btn-sm my-1">Ny innbetaling</a>
        </li>

        <li class="list-inline-item">
            <a href="{% url 'brewing:BrewList' %}" class="btn btn-secondary btn-sm my-1">Alle brygg</a>
        </li>        

        {% if perms.brewing.view_transaction %}
        <li class="list-inline-item">
            <a href="{% url 'brewing:BalanceList' %}" class="btn btn-secondary btn-sm my-1">Sjå saldoar</a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}


{% block content %}
    Saldo: {{ user.brewing_transactions.balance }} NOK

    <section>
        <h2>Brygg</h2>

        {% include "brewing/includes/brew_purchase_list.html" with brews=available_brews %}
    </section>
{% endblock content %}
