{% extends "base.html" %}

{% block title_page %}Dashbord{% endblock title_page %}
{% block title_content %}Dashbord{% endblock title_content %}

{% block content %}
<div class="row gy-4">
	{% if current_birthdays %}
	<div class="col-md-12">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/birthdays_current.html" with current_birthdays=current_birthdays
				birthday_song=birthday_song only %}
			</div>
		</div>
	</div>
	{% endif %}

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/events.html" with events=events
				number_events_answered=number_events_answered only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/minutes.html" with minutes=minutes only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/quotes.html" with title="Nyaste sitat" quotes=latest_quotes only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/birthdays_upcoming.html" with upcoming_birthdays=upcoming_birthdays only
				%}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/comments.html" with comments=latest_comments only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/scores.html" with scores=latest_scores only %}
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/images_latest.html" with galleries=latest_galleries only %}
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/images_random.html" with images=random_images only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/quotes.html" with title="Gullkorn" quotes=random_quotes only %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card h-100 p-3 shadow-sm">
			<div class="card-body">
				{% include "dashboard/includes/profile.html" with user=user only %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bigpicture@2.6.1/dist/BigPicture.min.js"
	integrity="sha256-OsbS8Cw/fMpgT6GBFfqhvmX9yJLwzE6+me56KzpSbAs=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static " events/ical_button.js" %}"></script>
<script src="{% static " common/js/lightbox.js" %}"></script>
{% endblock js %}