{% extends "base.html" %}
{% load show_quote %}

{% block page %}
<div class="row">
	<div class="col-md">
		<div class="card p-3 mb-5 shadow-sm">
			<div class="card-body">
				<h2>Hendingar</h2>
				<ul>
					{% for event in events %}
					<li>
						<a href="{% url 'events:detail' event.start_time.year event.slug %}">
							{{event.title}}
						</a>
						<div>
							<time datetime="{{ event.start_time | date:"c" }}">
								{{event.start_time | date:"d.m.Y - H:i"}}
							</time>
							{% if event.end_time %}
								til
								<time datetime="{{ event.end_time | date:"c" }}">
									{{event.end_time | date:"d.m.Y - H:i"}}
								</time>
							{% endif %}
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md">
		<div class="card p-3 mb-5 shadow-sm">
			<div class="card-body">
				<h2>Gullkorn</h2>
				{% for q in quotes %}
				<div class="row">
					<div class="col-lg-6">
						{% show_quote q %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}