{% extends './base.html' %}
{% block content %}

<style>
    .error-feedback {
        color: red;
        font-size: 14px;
    }
</style>

<h1> {{ score.title }} <a href="{% url 'viewScore' score.pk %}" class="float-right h6"> se på </a> </h1>

<h2> Handlinger </h2>

<ul>
    <li> <a href="{% url 'uploadPdf' score.pk %}"> Last opp en ny pdf </a> </li>
    <li> <a href="{% url 'uploadPdf' score.pk %}"> Registrer en ny stemme </a> </li>
    <li> <a href="{% url 'uploadPdf' score.pk %}" onclick="return confirm('Er du sikker på at du vil slette {{ score.title }}? Dette vil slette alle relaterte pdfer og informasjon om instrumentstemmer.')"> Slett note </a> </li>
</ul>

<h2> Opplastede pdfer </h2>
<p>
    <ul>
    {% for pdf in pdfs %}
    <li> <a href="{{pdf.file.url}}"> {{ pdf.file.displayname }} </a> {% if pdf.processing %} <span class="pdf-processing-status" data-pk="{{ pdf.pk }}" data-displayname="{{ pdf.file.displayname }}"> (prosessering pågår) </span> {% endif %} <button class="delete-pdf" data-pk="{{ pdf.pk }}" data-displayname="{{ pdf.file.displayname }}"> X </button> </li>
    {% endfor %}
    </ul>
</p>

<h2> Stemmeoversikt </h2>

<p>
    <i> (endringer lagres automatisk) </i>
</p>

<table class="table table-bordered">
    <tr>
        <th> Navn på stemme </th>
        <th> Kilde </th>
        <th> Sidenummer </th>
        <th> Slett </th>
    </tr>
{% for part in parts %}
    <tr class="part-tr" data-pdf-pk="{{ part.pdf.pk }}">
        <td>
            <input type="text" autocomplete="off"  class="part-name w-100" data-pk="{{ part.pk }}" value="{{ part.name }}">
            <p class="error-feedback" hidden> Det skjedde en feil ved lagring av dette feltet: <span id="error-feedback-msg-{{ part.pk }}"></span> </p>
        </td>
        <td> <a href="{{ part.pdf.file.url }}#page={{ part.fromPage }}"> {{ part.pdfName }} </a> </td>
        <td>
            <input type="text" autocomplete="off" class="part-pagenumbers" style="width: 60px;" data-pk="{{ part.pk }}" value="{% if part.fromPage == part.toPage %}{{ part.fromPage }}{% else %}{{ part.fromPage }}-{{ part.toPage }}{% endif %}">
            <p class="error-feedback" hidden> Det skjedde en feil ved lagring av dette feltet: <span id="error-feedback-msg-part-pagenumbers-{{ part.pk }}"></span> </p>
        </td>
        <td>
            <button class="delete-part" title="Slett {{ part.name }}" data-pk="{{ part.pk }}" data-name="{{ part.name }}"> X </button>
        </td>
    </tr>
{% endfor %}
</table>

{% block js %}
    {% load static %}
    <script src="{% static 'notar/fetching.js' %}"></script>
    <script src="{% static 'notar/editScore.js' %}"></script>
{% endblock %}

{% endblock %}
