{% extends "base.html" %}
{% block title %}
    Rediger stemmer for {{score}}
{% endblock title %}

{% block page %}
<article>
    <header>
        {% include "common/includes/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}

        <h1> Rediger stemmer for {{score}} </h1>
    </header>
    <p>
        Her kan ein relativt enkelt redigere stemmer for {{score}}.
    </p>
    <section>
        <h2> Tips </h2>
        <ul>
            <li>
                Nytt høgreklikk på lenkja til PDFen og velg opne i nytt vindauge. Så kan ein sette vindauget med PDFen til venstre og vindauget med nettsida til høgre og få betre oversikt.
            </li>
            <li>
                Nytt tab til å flytte tekstpeikaren mellom inntastingsfelta.
            </li>
            <li>
                Om du treng fleire enn dei 20 radane som er der frå før, lagre det du har og opne skjemaet på nytt, så får du 20 radar til.
            </li>
        </ul>
    </section>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th> PDF </th>
                    <th> Rediger stemmer </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Alle </td>
                    <td> <a class="btn btn-primary" href="{% url "sheetmusic:PartsUpdateAll" score.slug %}">Rediger stemmer</a> </td>
                </tr>
            {% for pdf in pdfs %}
                <tr>
                    <td> <a href="{{pdf.file.url}}">{{pdf}}</a> </td>
                    <td> <a class="btn btn-primary" href="{% url "sheetmusic:PartsUpdate" score.slug pdf.slug %}">Rediger stemmer</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock page %}
