{% extends "base.html" %}

{% block title_page %}
    Rediger stemmer for {{score}}
{% endblock title_page %}
{% block title_content %}
    Rediger stemmer for {{score}}
{% endblock title_content %}

{% block content %}
    {% load embeddable_text markdown %}
    {% get_embeddable_text "Stemmeredigeringstips" as text %}
    {{ text | markdown }}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th> PDF </th>
                    <th> Antal stemmer </th>
                    <th> Rediger stemmer </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Alle </td>
                    <td> {{ total_parts_count }} </td>
                    <td> <a class="btn btn-primary" href="{% url "sheetmusic:PartsUpdateAll" score.slug %}">Rediger stemmer</a> </td>
                </tr>
            {% for pdf in pdfs %}
                <tr>
                    <td> <a href="{{pdf.file.url}}">{{pdf}}</a> </td>
                    <td> {{ pdf.parts.count }} </td>
                    <td> <a class="btn btn-primary" href="{% url "sheetmusic:PartsUpdate" score.slug pdf.slug %}">Rediger stemmer</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
