{% extends 'base_base.html' %}

{% block title %}{{ part }}{% endblock title %}

{% block body %}
    {% for url in pageUrls %}
        <section class="d-flex flex-column align-items-center">
            <img class="sheetImg" src="{{ url }}">
        </section>
    {% endfor %}

    <script>
        let sheetImgs = document.querySelectorAll('.sheetImg');
        for (let i = 0; i < sheetImgs.length; i++) {
            sheetImgs[i].style.width = `${window.innerWidth-0x100}px`;
        }
    </script>
{% endblock body %}
