{% extends './score_form_base.html' %}

{% block activePartsUpdate %}
    active
{% endblock %}



{% block form %}

{% comment %} <h2> Stemmer </h2> {% endcomment %}

{% comment %} <p>
    <i> (endringer lagres ikke automatisk) </i>
</p> {% endcomment %}

{% csrf_token %}
{% load crispy_forms_tags %}
{% crispy form helper %}


<h2> Legg til stemme </h2>
{% csrf_token %}
{% load crispy_forms_tags %}
{% crispy createForm %}


{% endblock %}

{% block js %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'notar/parts_update.js' %}"></script>
{% endblock %}
