{% extends 'base.html' %}

{% block title %} Rediger {{score.title}} {% endblock title %}

{% block page %}
<article>
    <h1> <a href="{% url 'sheetmusic:ScoreView' score.pk %}"> {{ score.title }} </a> </h1>

    <ul class="nav nav-tabs mb-3">
        {% if perms.sheetmusic.change_score %}
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:ScoreUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:ScoreUpdate' score.pk %}"
            >
                Generelt
            </a>
        </li>
        {% endif %}
        {% if perms.sheetmusic.add_part and perms.sheetmusic.change_part and perms.sheetmusic.delete_part %}
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PartsUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:PartsUpdate' score.pk %}"
            >
                Stemmer
            </a>
        </li>
        {% endif %}
        {% if perms.sheetmusic.delete_pdf %}
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PdfsUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:PdfsUpdate' score.pk %}"
            >
                PDFar
            </a>
        </li>
        {% endif %}
        {% if perms.sheetmusic.add_pdf and perms.sheetmusic.add_part %}
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PdfsUpload' %} active {% endif %}"
                href="{% url 'sheetmusic:PdfsUpload' score.pk %}"
            >
                PDF-opplasting
            </a>
        </li>
        {% endif %}
    </ul>


    {% block form %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    {% endblock form %}
</article>
{% endblock page %}
