{% extends 'base.html' %}
{% block page %}

<h1> {{ object.title }} <a href="{% url 'sheetmusic:ScoreUpdate' object.pk %}" class="fs-6"> rediger </a></h1>

<h2> Favorittstemmer </h2>

<table class="table table-bordered">
    <tr>
        <th> Navn </th>
        <th> Les </th>
        <th> PDF </th>
        <th> Favoritt </th>
    </tr>
{% for part in parts %}
    {% if part.favorite %}
        <tr>
            <td> {{ part.name }} </td>
            <td> <a href="{% url 'sheetmusic:PartRead' part.pk %}"> Les </a> </td>
            <td> <a href="{% url 'sheetmusic:PartPdf' part.pk part.pdfFilename %}"> PDF </a> </td>
            <td> <a href="./" class="unfavorite" data-pk="{{part.pk}}"> <i class="fas fa-star"></i> </a> </td>
        </tr>
    {% endif %}
{% endfor %}
</table>

<h2> Alle stemmer </h2>

<table class="table table-bordered">
    <tr>
        <th> Navn </th>
        <th> Les </th>
        <th> PDF </th>
        <th> Favoritt </th>
    </tr>
{% for part in parts %}
    <tr>
        <td> {{ part.name }} </td>
        <td> <a href="{% url 'sheetmusic:PartRead' part.pk %}"> Les </a> </td>
        <td> <a href="{% url 'sheetmusic:PartPdf' part.pk part.pdfFilename %}"> PDF </a> </td>
        <td> {% if part.favorite %} <a href="./" class="unfavorite" data-pk="{{part.pk}}"> <i class="fas fa-star"></i> </a> {% else %} <a href="./" class="favorite" data-pk="{{part.pk}}"> <i class="far fa-star"></i> </a> {% endif %} </td>
    </tr>
{% endfor %}
</table>

{% endblock page %}

{% block js %}
    {% load static %}
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <script src="{% static 'common/js/fetching.js' %}"></script>
    <script>
        const fetchUsersPreferredPartUrl = '{% url 'sheetmusic:fetchUsersPreferredPart' %}';
        let favorites = document.querySelectorAll('.favorite');
        for (let i = 0; i < favorites.length; i++) {
            favorites[i].addEventListener('click', ev => {
                ev.preventDefault();
                fetchWithCsrf('POST', fetchUsersPreferredPartUrl, { part_pk: ev.target.closest('a').getAttribute('data-pk') }).then(async response => {
                    if (response.ok) {
                        location.reload();
                    }
                    else {
                        console.error('Klarte ikke å POSTe favorittstemme')
                    }
                });
            });
        }

        let unfavorites = document.querySelectorAll('.unfavorite');
        for (let i = 0; i < unfavorites.length; i++) {
            unfavorites[i].addEventListener('click', ev => {
                ev.preventDefault();
                fetchWithCsrf('DELETE', fetchUsersPreferredPartUrl, { part_pk: ev.target.closest('a').getAttribute('data-pk') }).then(async response => {
                    if (response.ok) {
                        location.reload();
                    }
                    else {
                        console.error('Klarte ikke å DELETEe favorittstemme')
                    }
                });
            });
        }
    </script>
{% endblock js%}
