{% extends './base.html' %}
{% block content %}

<style>
    .error-feedback {
        color: red;
        font-size: 14px;
    }
</style>

<h1> {{ score.title }} <a href="{% url 'viewScore' score.pk %}" class="float-right h6"> sjå på </a> </h1>

<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link {% block activeScoreUpdate %}{% endblock %}" href="{% url 'editScore' score.pk %}"> Generelt </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePartsUpdate %}{% endblock %}" href="{% url 'editScoreParts' score.pk %}"> Stemmer </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePdfsUpdate %}{% endblock %}" href="{% url 'editScorePdfs' score.pk %}"> PDFer </a> </li>
    {% comment %} <li class="nav-item"> <a class="nav-link {% block activePdfUpload %}{% endblock %}" href="{% url 'uploadPdf' score.pk %}"> Last opp en ny pdf </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePartCreate %}{% endblock %}" href="{% url 'uploadPdf' score.pk %}"> Ny stemme </a> </li> {% endcomment %}
    {% comment %} <li class="nav-item"> <a class="nav-link {% block active %}{% endblock %}" href="{% url 'uploadPdf' score.pk %}" onclick="return confirm('Er du sikker på at du vil slette {{ score.title }}? Dette vil slette alle relaterte pdfer og informasjon om instrumentstemmer.')"> Slett note </a> </li> {% endcomment %}
</ul>


{% block form %}
    [Insert form here]
{% endblock %}


{% block js %}
    {% load static %}
    <script src="{% static 'notar/fetching.js' %}"></script>
{% endblock %}

{% endblock %}
