{% extends './score_form_base.html' %}

{% block activeScoreUpdate %}
    active
{% endblock %}



{% block form %}

<h2> Opplastede pdfer </h2>
<p>
    <ul>
    {% for pdf in pdfs %}
    <li> <a href="{{pdf.file.url}}"> {{ pdf.file.displayname }} </a> {% if pdf.processing %} <span class="pdf-processing-status" data-pk="{{ pdf.pk }}" data-displayname="{{ pdf.file.displayname }}"> (prosessering pågår) </span> {% endif %} <button class="delete-pdf" data-pk="{{ pdf.pk }}" data-displayname="{{ pdf.file.displayname }}"> X </button> </li>
    {% endfor %}
    </ul>
</p>

<h2> Stemmeoversikt </h2>

<p>
    <i> (endringer lagres ikke automatisk) </i>
</p>

{% comment %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for subform in EditScoreForm %}
        {{ subform.as_table }}
    {% endfor %}
    <input type="submit" value="Lagre">
</form>
{% endcomment %}



{% csrf_token %}
{% load crispy_forms_tags %}
{% crispy form %}



{% endblock %}
