{% extends './base.html' %}
{% block content %}

<h1> Alle noter </h1>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="col-form-label">
                Namn
            </th>

            <th class="col-form-label">
                Dato opprettet
            </th>

            <th class="col-form-label">
                Rediger
            </th>

            <th class="col-form-label">
                Slett
            </th>
        </tr>
    </thead>

    <tbody>
        {% for score in scores %}
            <tr>
                <td>
                    <a href="{% url 'viewScore' score.pk %}"> {{ score.title }} </a>
                </td>

                <td>
                    {{ score.timestamp }}
                </td>

                <td>
                    <a href="{% url 'editScore' score.pk %}"> Rediger </a>
                </td>

                <td>
                    <button class="delete-score", data-pk="{{ score.pk }}" data-displayname="{{ score.title }}"> X </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} <button id="test-fetch"> Test fetch </button> {% endcomment %}

{% block js %}
    {% load static %}
    <script src="{% static 'notar/fetching.js' %}"></script>
    <script src="{% static 'notar/score_list.js' %}"></script>
{% endblock%}

<a href="{% url 'createScore' %}"> Ny note </a>

{% endblock %}
