{% extends 'base.html' %}
{% block page %}

<style>
    .error-feedback {
        color: red;
        font-size: 14px;
    }
</style>

<h1> {{ score.title }} <a href="{% url 'sheetmusic:ScoreView' score.pk %}" class="float-right h6"> sjå på </a> </h1>

<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link {% block activeScoreUpdate %}{% endblock %}" href="{% url 'sheetmusic:ScoreUpdate' score.pk %}"> Generelt </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePartsUpdate %}{% endblock %}" href="{% url 'sheetmusic:PartsUpdate' score.pk %}"> Stemmer </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePdfsUpdate %}{% endblock %}" href="{% url 'sheetmusic:PdfsUpdate' score.pk %}"> PDFar </a> </li>
    <li class="nav-item"> <a class="nav-link {% block activePdfsUpload %}{% endblock %}" href="{% url 'sheetmusic:PdfsUpload' score.pk %}"> PDF-opplasting </a> </li>
</ul>


{% block form %}
    [Insert form here]
{% endblock form %}


{% block js %}
{% endblock js %}

{% endblock page%}
