{% extends 'base.html' %}
{% block page %}

<h1> Alle notar </h1>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="col-form-label">
                Namn
            </th>

            <th class="col-form-label">
                Les
            </th>

            <th class="col-form-label">
                Dato opprettet
            </th>

            <th class="col-form-label">
                Rediger
            </th>

            <th class="col-form-label">
                Slett
            </th>
        </tr>
    </thead>

    <tbody>
        {% for score in scores %}
            <tr>
                <td>
                    <a href="{% url 'sheetmusic:ScoreView' score.pk %}"> {{ score.title }} </a>
                </td>

                <td>
                    {% if score.favoritePart %} <a href="{% url 'sheetmusic:PartRead' score.favoritePart.pk %}"> Les </a> {% endif %}
                </td>

                <td>
                    {{ score.timestamp }}
                </td>

                <td>
                    <a href="{% url 'sheetmusic:ScoreUpdate' score.pk %}"> Rediger </a>
                </td>

                <td>
                    <a href="{% url 'sheetmusic:ScoreDelete' score.pk %}"> Slett </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block js %}
{% endblock%}

<a href="{% url 'sheetmusic:ScoreCreate' %}" class="btn btn-primary"> Ny note </a>

{% endblock page %}
