{% extends 'base.html' %}

{% block title %} Rediger {{score.title}} {% endblock title %}

{% block page %}
<article>
    <h1> <a href="{% url 'sheetmusic:ScoreView' score.slug %}"> {{ score.title }} </a> </h1>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:ScoreUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:ScoreUpdate' score.slug %}"
            >
                Generelt
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PartsUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:PartsUpdate' score.slug %}"
            >
                Stemmer
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PdfsUpdate' %} active {% endif %}"
                href="{% url 'sheetmusic:PdfsUpdate' score.slug %}"
            >
                PDFar
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if request.resolver_match.view_name == 'sheetmusic:PdfsUpload' %} active {% endif %}"
                href="{% url 'sheetmusic:PdfsUpload' score.slug %}"
            >
                PDF-opplasting
            </a>
        </li>
    </ul>


    {% block form %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    {% endblock form %}
</article>
{% endblock page %}
