{% extends 'base.html' %}

{% block title_page %} Notearkiv {% endblock title_page %}
{% block title_content %} Alle notar {% endblock title_content %}

{% block header %}
    {{ block.super }}
    <a class="btn btn-primary btn-sm" href="{% url 'sheetmusic:ScoreCreate' %}"> Ny note </a>
{% endblock header %}

{% block content %}
    {% if scores %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th class="col-form-label">
                        Namn
                    </th>

                    <th class="col-form-label">
                        Favorittstemme
                    </th>

                    <th class="col-form-label">
                        Arrangement
                    </th>

                    <th class="col-form-label">
                        Opphaveleg ifrå
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for score in scores %}
                    <tr id="tr-{{score.slug}}">
                        <td>
                            <a
                                class="larger-link"
                                data-larger-link-target="#tr-{{score.slug}}"
                                href="{% url "sheetmusic:ScoreView" score.slug %}"
                            >
                                {{ score.title }}
                            </a>
                        </td>

                        <td>
                            {% load has_favorite_part %}
                            {% has_favorite_part user score as has_favorite_part %}
                            {% if has_favorite_part %}
                                <a href="{% url "sheetmusic:FavoritePartPdf" score.slug %}"> Favorittstemme </a>
                            {% endif %}
                        </td>

                        <td>
                            {{ score.arrangement }}
                        </td>

                        <td>
                            {{ score.originally_from }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p>
        ({{ scores|length }} not{{ scores|length|pluralize:"e,ar" }})
    </p>
    {% endif %}
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "common/js/larger_link.js" %}"></script>
{% endblock js %}
