

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            /* body {
                background-image: url("/media/sheetmusic/images/{{ object.pdf.pk }}/page_{{ object.fromPage }}.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            } */

            #sheetImg {
                height: 600px;
            }
        </style>

        <h1> {{ object.pdf.score }}: {{ object }} </h1>

        <div>
            <img id="sheetImg">
        </div>

        <div>
            <button id="prevPageBtn"> Forrige side </button>
            <button id="nextPageBtn"> Neste side </button>
        </div>

        <div>
            Stemme:
            <select id="partSelect">
                {% for part in object.pdf.parts.all %}
                <option data-url="/media/sheetmusic/images/{{ part.pdf.pk }}/page_{{ part.fromPage }}.jpg" {% if part.pk == object.pk %} selected {% endif %}>
                    {{ part }}
                </option>
                {% endfor %}
            </select>
        </div>

        
        <script>
            const partPk = {{ object.pdf.pk }};

            let body = document.querySelector('body');
            let img = document.querySelector('#sheetImg');
            img.src = '/media/sheetmusic/images/{{ object.pdf.pk }}/page_{{ object.fromPage }}.jpg'

            let partSelect = document.querySelector('#partSelect');
            partSelect.addEventListener('input', ev => {
                let url = partSelect.options[partSelect.selectedIndex].attributes.getNamedItem('data-url').nodeValue;
                img.src = url;
            });

            function getCurrPage() {
                return Number(img.src.split('/')[7].split('.')[0].split('_')[1]);
            }

            function setCurrPage(fromPage) {
                img.src = `/media/sheetmusic/images/${partPk}/page_${fromPage}.jpg`
            }

            let prevPageBtn = document.querySelector('#prevPageBtn');
            prevPageBtn.addEventListener('click', ev => {
                let currPage = getCurrPage();
                currPage = Math.max(currPage - 1, 1);
                setCurrPage(currPage);
            });

            let nextPageBtn = document.querySelector('#nextPageBtn');
            nextPageBtn.addEventListener('click', ev => {
                let currPage = getCurrPage();
                currPage++;
                setCurrPage(currPage);
            });

            body.addEventListener('keydown', ev => {
                console.log('key:', ev);
                if (ev.key == 'ArrowLeft') {
                    ev.preventDefault();
                    let currPage = getCurrPage();
                    currPage = Math.max(currPage - 1, 1);
                    setCurrPage(currPage);
                }
                else if (ev.key == 'ArrowRight') {
                    ev.preventDefault();
                    let currPage = getCurrPage();
                    currPage++;
                    setCurrPage(currPage);
                }
            });
        </script>
    </body>
</html>
