<table class="table table-bordered">
    <tr>
        <th> Navn </th>
        <th> Les </th>
        <th> PDF </th>
        <th> Favoritt </th>
    </tr>
    {% for part in parts %}
        <tr>
            <td>
                {{ part.name }}
            </td>
            <td>
                <a href="{% url 'sheetmusic:PartRead' part.pk %}"> Les </a>
            </td>
            <td>
                <a href="{% url 'sheetmusic:PartPdf' part.pk part.pdf_filename_slug %}"> PDF </a>
            </td>
            <td>
                {% if part.favorite %}
                <a href="./" class="unfavorite" data-pk="{{ part.pk }}">
                    <img src="{% static 'sheetmusic/star-filled.svg' %}" alt="Fjern som favoritt" />
                </a>
                {% else %}
                <a href="./" class="favorite" data-pk="{{ part.pk }}">
                    <img src="{% static 'sheetmusic/star-outline.svg' %}" alt="Gjer til favoritt" />
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>