<!DOCTYPE html>
<html lang="nn-no">

<head>
	<title>{% block title %}Vev 2.0{% endblock %} | Studentorchesteret Dei Taktlause</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">
	<link rel="icon" href="{% static 'images/logo.svg' %}" type="image/svg+xml">

	{% load sass_tags %}
	<link href="{% sass_src 'scss/bootstrap-light.scss' %}" media="(prefers-color-scheme: light)" rel="stylesheet" type="text/css">
	<link href="{% sass_src 'scss/bootstrap-dark.scss' %}" media="(prefers-color-scheme: dark)" rel="stylesheet" type="text/css">
	<link href="{% sass_src 'scss/utilities.scss' %}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

	{% if PWA_APP_ENABLED %}
	{% load pwa %}
	{% progressive_web_app_meta %}
	{% endif %}
	
	{% block css %}{% endblock css %}
</head>

<body>
	{% block navbar %}
	{% endblock navbar %}

	{% block body %}
	{% endblock body %}

	{% load static %}
	<script src="{% static "scss/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

	{% block js %}{% endblock js %}
</body>
