{% extends 'base_base.html' %}
{% block navbar %}
	{% include "navbar/includes/navbar.html" %}
{% endblock navbar %}

{% block body %}
	{% if messages %}
	<header class="container">
		<ul class="list-unstyled">
			{% for message in messages %}
				<li class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</li>
			{% endfor %}
		</ul>
	</header>
	{% endif %}

	<div class="mt-4 {% block container_class %}container{% endblock container_class %}">
		<div class="row">
			<main class="col">
				{% block page %}
				{% endblock page %}
			</main>

			{% block sidebar %}
			<aside class="col-12 col-lg-3">
				{% load sidebar %}
				{% sidebar user request.path %}
			</aside>
			{% endblock sidebar %}
		</div>
	</div>
{% endblock body %}
