<!DOCTYPE html>
<html lang="nn-no">

<head>
	<title>{% block title %}Vev 2.0{% endblock %} | Studentorchesteret Dei Taktlause</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">
	<link rel="icon" href="{% static 'images/logo.svg' %}" type="image/svg+xml">

	{% load sass_tags %}
	<link href="{% sass_src 'scss/bootstrap-light.scss' %}" media="(prefers-color-scheme: light)" rel="stylesheet" type="text/css">
	<link href="{% sass_src 'scss/bootstrap-dark.scss' %}" media="(prefers-color-scheme: dark)" rel="stylesheet" type="text/css">
	<link href="{% sass_src 'scss/utilities.scss' %}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

	<!-- Chrome for Android theme color -->
	<meta name="theme-color" content="#a50104">
	
	{% if ENABLE_PWA_MANIFEST %}
		{% load static %}
		<!-- Path to manifest.json -->
		<link rel="manifest" href="{% static "pwa/manifest.json" %}">
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="application-name" content="Taktlausveven">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Taktlausveven">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" sizes="">
	{% endif %}
	{% if ENABLE_SERVICEWORKER %}
		<!-- Register serviceworker -->
		<script src="{% static "pwa/js/register_serviceworker.js" %}"></script>
	{% endif %}
	
	{% block css %}{% endblock css %}
</head>

<body>
	{% block navbar %}
	{% endblock navbar %}

	{% block body %}
	{% endblock body %}

	{% load static %}
	<script src="{% static "scss/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

	{% block js %}{% endblock js %}
</body>
