{% extends 'base_base.html' %}
{% block navbar %}
	<nav class="navbar navbar-expand fixed-top navbar-dark">
		<div class="container-fluid">

			<a class="navbar-brand" href="{% if user.is_authenticated %} {% url 'dashboard' %} {% else %} {% url 'articles:detail' 'om-oss' %} {% endif %}">
				{% load static %}
				<img class="navbar-logo" src="{% static 'images/logo.png' %}">
				Studentorchesteret Dei Taktlause
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsable"
				aria-controls="collapsable" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsable">
				<ul class="navbar-nav me-auto">
					<li class="nav-item {% if 'om-oss' in request.path %} active {% endif %}">
						<a class="nav-link" href="{% url 'articles:detail' 'om-oss' %}">Om oss</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'sitat' in request.path %} active {% endif %}"
							href="{% url 'quotes' %}">Sitat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'notar' in request.path %} active {% endif %}"
							href="{% url 'sheetmusic:ScoreList' %}">Notar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'repertoar' in request.path %} active {% endif %}"
							href="{% url 'repertoire:RepertoireList' %}">Repertoar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'songar' in request.path %} active {% endif %}"
							href="{% url 'articles:detail' 'songar' %}">Songar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'wiki' in request.path %} active {% endif %}"
							href="{% url 'articles:detail' 'wiki' %}">Wiki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if 'skiltmerke' in request.path %} active {% endif %}"
							href="{% url 'buttons:buttons' %}">Skiltmerke</a>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<span class="navbar-text">
							{% if user.is_authenticated %}
							<span>Innlogga som <a href="{% url 'accounts:ProfileDetail' user.slug %}">{{user.username}}</a>!</span>
							<a href="{% url 'logout' %}?next=/">Logg ut</a>
							{% else %}
							<span>Du er ikkje innlogga. <a href="{% url 'login' %}">Logg inn</a></span>
							{% endif %}
						</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock navbar %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md">
				{% block page %}
				{% endblock page %}
			</div>
		</div>
	</div>
{% endblock body %}
