{% extends 'base.html' %}
{% block sidebar %}{% endblock sidebar %} 

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title%}Medlemsliste{%endblock title%}

{% block page %}
<article>
    <h1> Medlemsliste </h1>
    <div class="table-responsive">
    <table class="table table-striped table-sm" id="member_overview">
        <thead>
            <tr>
                <th> </th>
                <th>Namn</th>
                <th>Medlemsstatus</th>
                <th>Instrument</th>
                <th>E-mail</th>
                <th>Telefonnummer</th>
                <th>Roller</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members%}
                 <tr>
                     <td style="width: 60px;">
                        <div class="mx-auto" style="width: 40px; height: 40px;">
                            <a
                                href="{% url 'accounts:ProfileDetail' member.slug %}"
                                class="d-flex justify-content-center w-100 h-100"
                            >
                                <img
                                    src="{{ member.get_avatar_url }}"
                                    class="object-fit-cover mw-100 mh-100"
                                />
                            </a>
                        </div>
                    </td> 
                     <td> <a href="{{ member.get_absolute_url }}">
                        {{ member.get_name }}
                    </a></td>
                     <td>{{member.get_membership_status_display}}</td>
                     <td>{{member.instrument_group}}</td>
                     <td>{{member.email}}</td>
                     <td>{{member.phone_number}}</td>
                     <td>{{member.role}}</tr>
                 </tr >
            {% endfor %} 
        </tbody>
    </table>
</div>
 
{% endblock page %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "accounts/member_list.js" %}"></script>
{% endblock js %}