{% extends 'base.html' %}
{% block sidebar %}{% endblock sidebar %} 

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page%}Medlemsliste{%endblock title_page%}

{% block title_content%}Medlemsliste{% endblock title_content%}

{% block content %}
    <dl class="dl-inline"> <dt><em>Aktive</em></dt> 
        <dd>Betalande medlemmar; Dei som er på aspirantsemesteret sitt eller har betalt semesteravgifta.</dd>
        <dt><em>Inaktive</em></dt> 
        <dd>Dei som har vore med i DT mindre enn to år og slutta (eller dradd på utveksling f.eks.).</dd>
        <dt><em>Pensjonistar</em></dt>
        <dd> Dei som har vore aktive i DT i to år eller meir og har slutta.</dd>
        <dt><em>Støttemedlemmar</em></dt>
        <dd> Dei Styret har sagt er det (for å få tilgang til nettsida f.eks).</dd>
        <dt><em>Æresmedlemmar</em></dt> 
        <dd>Utnemde i spesielle tilfelle. Sjå ellers statuttane for riktige definisjonar av desse.</dd>
    </dl>
    <label for="select-membership-status">
        Medlemsstatus:
    </label>
    <select id="select-membership-status">
        <option value="">
            Alle
        </option>
        {% for choice, display in membership_status_enum.choices %}
            <option value="{{display}}">
                {{display}}
            </option>
        {% endfor %}
    </select>
    <div class="table-responsive">
    <table class="table table-striped table-sm" id="member_overview">
        <thead>
            <tr>
                <th> </th>
                <th>Namn</th>
                <th>Medlemsstatus</th>
                <th>Instrument</th>
                <th>E-post</th>
                <th>Telefonnummer</th>
                {% comment %} <th>Roller</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for member in members%}
                 <tr>
                     <td style="width: 60px;">
                        <div class="mx-auto" style="width: 40px; height: 40px;">
                            <a
                                href="{% url 'accounts:ProfileDetail' member.slug %}"
                                class="d-flex justify-content-center w-100 h-100"
                            >
                                <img
                                    src="{{ member.get_avatar_url }}"
                                    class="object-fit-cover mw-100 mh-100"
                                />
                            </a>
                        </div>
                    </td> 
                     <td> <a href="{{ member.get_absolute_url }}">
                        {{ member.get_name }}
                    </a></td>
                     <td>{{member.get_membership_status_display}}</td>
                     <td>{{member.instrument_group}}</td>
                     <td>{{member.email}}</td>
                     <td>{{member.phone_number}}</td>
                     {% comment %} <td>{{member.groups}}</tr> {% endcomment %}
                 </tr >
            {% endfor %} 
        </tbody>
    </table>
</div>
 
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "accounts/member_list.js" %}"></script>
{% endblock js %}