{% extends 'base.html' %}

{% block title %}{{ profile.get_name }}{% endblock title %}

{% block page %}
<article>
    <h1 class="text-center">{{ profile.get_name }}</h1>
    {% if profile.instrument_type %}
    <p>
        Instrumentgruppe: {{ profile.instrument_type.group }} ({{ profile.instrument_type }})
    </p>
    {% endif %}
    {% if profile.instruments.exists %}
    <p>
        Lånte instrument: {% for instrument in profile.instruments.all %}{{ instrument }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    </p>
    {% endif %}
    {% with profile.get_jacket as jacket %}
        {% if jacket %}
            <p>
                Jakkenummer: {{ jacket.number }}
            </p>
        {% endif %}
    {% endwith %}
</article>
{% endblock page %}
